#accordion-1705-4 .fusion-panel:hover {background-color: rgba(76,76,76,0);}
#accordion-1705-4 .fusion-panel {border-color: #ccc;border-width: 0;background-color: rgba(255,235,59,0);}
.fusion-accordian #accordion-1705-4 .panel-title a .fa-fusion-box {color: #fff;}
.fusion-accordian #accordion-1705-4 .panel-title a .fa-fusion-box:before {font-size: 20px;width: 20px;}
.fusion-accordian #accordion-1705-4 .panel-title a {font-size: 13px;}
.fusion-accordian #accordion-1705-4 .panel-title a:hover, #accordion-1705-4 .fusion-toggle-boxed-mode:hover .panel-title a {color: #03a9f4;}
.fusion-accordian #accordion-1705-4 .fusion-toggle-boxed-mode:hover .panel-title a .fa-fusion-box {color: #03a9f4;}
.fusion-accordian #accordion-1705-4.fusion-toggle-icon-unboxed .fusion-panel .panel-title a:hover .fa-fusion-box {color: #03a9f4 !important;}