.star-rating {width: 0;position: relative;display: inline-block;background-position: 0 0;background-repeat: repeat-x;}
.star-rating[data-title]:hover:after {content: attr(data-title);padding: 4px 8px;color: #333;position: absolute;left: 0;top: 100%;z-index: 20;white-space: nowrap;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;-moz-box-shadow: 0 0 4px #222;-webkit-box-shadow: 0 0 4px #222;box-shadow: 0 0 4px #222;background-image: -moz-linear-gradient(top,#eee,#ccc);background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(1,#ccc));background-image: -webkit-linear-gradient(top,#eee,#ccc);background-image: -moz-linear-gradient(top,#eee,#ccc);background-image: -ms-linear-gradient(top,#eee,#ccc);background-image: -o-linear-gradient(top,#eee,#ccc);}
.star-rating .star-value {height: 100%;position: absolute;}
.star-rating .star-value {position: absolute;height: 100%;width: 100%;background-repeat: repeat-x;}
.star-rating::before {content: none !important;}
.star-value::before {content: none !important;}
.yasr-auto-insert-overall {margin-top: 10px;}
.yasr-auto-insert-visitor {margin-top: 10px;}
#yasr-custom-text-before-overall {display: block;padding-right: 15px;vertical-align: top;}
#yasr-custom-text-before-visitor-rating {display: block;padding-right: 15px;vertical-align: top;}
#yasr-custom-text-before-visitor-rating {display: block;vertical-align: top;padding-right: 15px;}
#yasr_visitor_votes {font-size: small;display: inline-block;}
.yasr-total-average-text {display: inline-block;}
.yasr-dashicons-visitor-stats {vertical-align: bottom !important;text-decoration: none;cursor: pointer;height: 25px;}
.yasr-total-average-text-medium {display: block;}
.yasr-small-block-bold {display: block;font-weight: bold;font-size: 12px;}
.yasr-highest-rated-text {display: block;}
.yasr-loader-multiset-visitor {display: none;}
.yasr-multiset-average {text-align: center;}
.yasr-multiset-average-text {vertical-align: super;}
.yasr-widget-recent-ratings-table {border: 0;}
.yasr-widget-recent-ratings-td {border: 0;}
.yasr-widget-recent-ratings-text {font-weight: bold;}
#yasr-medium-rating-tooltip {font-size: 14px;}
.yasr-progress-bars-container {width: 100% !important;}
.yasr-progress-bar-row-container {padding-top: 2px !important;padding-left: 5px !important;padding-right: 5px !important;display: block !important;}
.yasr-progress-bar-name {display: inline-block !important;float: left;width: 20% !important;font-size: 14px !important;line-height: 1.5 !important;text-align: center !important;}
.yasr-single-progress-bar-container {width: 70% !important;float: left;}
.yasr-progress-bar {display: inline-block !important;}
.yasr-progress-bar-votes-count {display: inline-block !important;width: 10%;float: right;text-align: right;font-size: 14px !important;}
.yasr-visitors-stats-tooltip {min-width: 245px;text-align: center;background-color: white;color: #0a0a0a;}
.tippy-tooltip.yasr-theme {background-color: white;}
.tippy-tooltip.yasr-theme {border: 1px solid #aaa;}
.tippy-roundarrow {fill: #aaa !important;}
.yasr-w3-container:after, .yasr-w3-container:before {content: "";display: table;clear: both;}
.yasr-w3-border-0 {border: 0 !important;}
.yasr-w3-border {border: 1px solid #ccc !important;background: linear-gradient(to bottom,#eee,#f6f6f6);}
.yasr-w3-border-top {border-top: 1px solid #ccc !important;}
.yasr-w3-border-bottom {border-bottom: 1px solid #ccc !important;}
.yasr-w3-border-left {border-left: 1px solid #ccc !important;}
.yasr-w3-border-right {border-right: 1px solid #ccc !important;}
.yasr-w3-amber, .yasr-w3-hover-amber:hover {color: #000 !important;background: linear-gradient(to bottom,#ffda44,#f1cb32);background-color: #ffce00;}