.form-custom-fields-container .form-custom-field-container {margin-bottom: 10px;}
.form-custom-fields-container .form-custom-field-container:first-child {margin-top: 10px;}
.form-custom-fields-container .form-custom-field-container .form-custom-field-label, .form-custom-fields-container .form-custom-field-container .form-custom-field-value {margin-bottom: 10px;}
.form-custom-fields-container .form-custom-field-container .form-custom-field-label {font-weight: bold;margin-right: 5px;display: inline-table;vertical-align: top;}
.form-custom-fields-container .form-custom-field-container .form-custom-field-value {display: inline-block;}
.form-custom-fields-container .form-custom-field-container .form-custom-field-value>ul {list-style: inside;margin: 0;}
.form-custom-fields-container .form-custom-field-container .form-custom-field-value .picked-color-value {border-radius: 100%;height: 50px;width: 50px;}
.form-custom-fields-container .form-custom-field-container .form-custom-field-value .check-box-value-true:after {content: "✔";}
.form-custom-fields-container .form-custom-field-container .form-custom-field-value .check-box-value-false:after {content: "✗";}