.star-rating {background-image: url("https://condescending-ride-d4d0df.netlify.com/wp-content/plugins/yet-another-stars-rating/img/star_2.svg");}
.star-rating .star-value {background: url("https://condescending-ride-d4d0df.netlify.com/wp-content/plugins/yet-another-stars-rating/img/star_3.svg");}
.yasr-total-average-container {display: none;}
.yasr-total-average-text {display: none;}
.fusion-footer-widget-area .widget-title {margin-bottom: 10px !important;}
.widget_yasr_visitor_votes_widget {margin-bottom: 20px !important;}