.fusion-column-wrapper {background-color: #5b5b5b;}
.fusion-accordian .panel-title .fusion-toggle-heading {margin-left: 0;}
.width-100 .fusion-fullwidth {margin-left: -49px;margin-right: -52px;}
#sign-lang .fa-fusion-box::before {font-family: "Font Awesome 5 Free";content: "";font-weight: 600;}
#sign-lang [data-toggle="collapse"] {align-items: center;}
#map-marker .fa-fusion-box::before {font-family: "Font Awesome 5 Free";content: "";font-weight: 600;}
#map-marker [data-toggle="collapse"] {align-items: center;}
#video-marker .fa-fusion-box::before {font-family: "Font Awesome 5 Free";content: "";font-weight: 600;}
#video-marker [data-toggle="collapse"] {align-items: center;}
.fusion-toggle-icon-unboxed .fa-fusion-box {padding-right: 2px !important;}
#custom-class-name {content: "";}
.wpml-ls-link {color: #eee;padding: 15px 20px 15px 20px !important;}
.pum-close.popmake-close {visibility: hidden;}
.pum-content.popmake-content {margin: 10px 0;font-size: 20px;position: relative;height: 100%;}
.pum-content.popmake-content .wpml-ls-flag {height: 20px;width: 30px;margin-right: 10px;}
#pum-594 {padding-left: 0 !important;padding-right: 0 !important;}
#popmake-594 {height: 100%;width: 100%;left: 0 !important;}
.wpml-ls-statics-shortcode_actions.wpml-ls-legacy-list-vertical {width: 100%;margin: 0;position: absolute;top: 40%;left: 50%;-ms-transform: translate(-50%);transform: translate(-50%);}
.wpml-ls-statics-shortcode_actions.wpml-ls-legacy-list-vertical>ul {margin: 10px !important;}
.wpml-ls-slot-shortcode_actions.wpml-ls-item-legacy-list-vertical.wpml-ls-item {width: 100%;border-width: 1px;border-style: solid;background-color: rgba(0,0,0,.41);font-weight: 400;border-color: #666;margin-bottom: 3px;}
.widget_icl_lang_sel_widget {border-top-style: solid;border-width: 1px;padding-top: 20px;}
.wpml-ls-sidebars-avada-footer-widget-1.wpml-ls-legacy-list-vertical {width: 100%;}
.wpml-ls-slot-avada-footer-widget-1.wpml-ls-item-legacy-list-vertical.wpml-ls-item {width: 100%;border-width: 1px;border-style: solid;background-color: rgba(0,0,0,.41);font-weight: 400;border-color: #666;margin-bottom: 3px;}
.fusion-footer-widget-area {border-color: #363839;}
.fusion-reading-box-container .reading-box {padding: 8px 0 27px 0 !important;}
.fusion-imageframe img {width: 100% !important;}
.reading-box h2 {text-align: center !important;}