.yasr_table_multi_set_shortcode {border: 1px solid #fff;border-spacing: 1px;border-collapse: separate;margin-top: 10px;margin-bottom: 24px;width: 100%;}
.yasr_table_multi_set_shortcode td {padding: 8px;}
.yasr_table_multi_set_shortcode tr:nth-child(odd) {background: #292929;}
.yasr_table_multi_set_shortcode tr:nth-child(even) {background: #161616;}
.yasr-multi-set-name-field {color: #fff;}
.yasr-table-chart {color: white;border-spacing: 1px;margin-top: 10px;margin-bottom: 24px;width: 100%;}
.yasr-table-chart td {padding: 8px;width: 50%;vertical-align: middle;}
.yasr-table-chart tr:nth-child(odd) {background: #292929;}
.yasr-table-chart tr:nth-child(even) {background: #161616;}