.elementor-7 .elementor-element.elementor-element-4ef3001.elementor-position-right .elementor-image-box-img {margin-left: 15px;}
.elementor-7 .elementor-element.elementor-element-4ef3001.elementor-position-left .elementor-image-box-img {margin-right: 15px;}
.elementor-7 .elementor-element.elementor-element-4ef3001.elementor-position-top .elementor-image-box-img {margin-bottom: 15px;}
.elementor-7 .elementor-element.elementor-element-4ef3001 .elementor-image-box-wrapper .elementor-image-box-img {width: 30%;}
.elementor-7 .elementor-element.elementor-element-4ef3001 .elementor-image-box-img img {transition-duration: .3s;}
@media (max-width:767px) {.elementor-7 .elementor-element.elementor-element-4ef3001 .elementor-image-box-img {margin-bottom: 15px;}}