.no-overflow-y {overflow-y: visible !important;}
.fusion-layout-column {margin-left: 0 !important;margin-right: 0 !important;}
.fusion-layout-column.fusion-spacing-no {margin-bottom: 0;}
.fusion-body .fusion-layout-column {width: 100% !important;}
.fusion-body .fusion-footer-widget-area-center .widget.tweets:not(.fusion-widget-mobile-align-left):not(.fusion-widget-mobile-align-right) .jtwt .jtwt_tweet {padding: 0;}
.fusion-body .fusion-footer-widget-area-center .widget.tweets:not(.fusion-widget-mobile-align-left):not(.fusion-widget-mobile-align-right) .jtwt .jtwt_tweet::before {top: 0;}
.fusion-body .fusion-footer-widget-area-center .widget.tweets:not(.fusion-widget-mobile-align-left):not(.fusion-widget-mobile-align-right) .jtwt .jtwt_tweet:before {position: relative;margin: 0;}
.fusion-body .fusion-blog-layout-medium-alternate .fusion-post-content, .fusion-body .fusion-blog-layout-medium-alternate .has-post-thumbnail .fusion-post-content {margin: 0;padding-top: 20px;-webkit-flex: 1 0 100%;-ms-flex: 1 0 100%;flex: 1 0 100%;}
.fusion-body .fusion-author .fusion-social-networks {text-align: center;}
.fusion-columns-1 .fusion-column:first-child, .fusion-columns-2 .fusion-column:first-child, .fusion-columns-3 .fusion-column:first-child, .fusion-columns-4 .fusion-column:first-child, .fusion-columns-5 .fusion-column:first-child {margin-left: 0;}
.fusion-columns .fusion-column {width: 100% !important;float: none;box-sizing: border-box;}
.fusion-columns .fusion-column:not(.fusion-column-last) {margin: 0 0 50px;}
.widget.tweets.fusion-widget-mobile-align-center .jtwt .jtwt_tweet {padding: 0;}
.widget.tweets.fusion-widget-mobile-align-center .jtwt .jtwt_tweet:before {top: 0;position: relative;margin: 0;}
.widget.tweets.fusion-widget-mobile-align-right .jtwt .jtwt_tweet {padding-left: 0;padding-right: 45px;}
.widget.tweets.fusion-widget-mobile-align-right .jtwt .jtwt_tweet:before {margin-left: 0;right: 0;}
.widget.facebook_like iframe {width: 100% !important;max-width: none !important;}
.rtl .fusion-column {float: none;}
.rtl .no-mobile-slidingbar.mobile-logo-pos-right .mobile-menu-icons {margin-left: 0;}
#slidingbar-area .columns .col, .avada-container .columns .col, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-6, .footer-area .fusion-columns .fusion-column, .fusion-columns-5 .col-lg-2, .fusion-columns-5 .col-md-2, .fusion-columns-5 .col-sm-2 {float: none;width: 100%;}
.fusion-portfolio-text-floated .fusion-portfolio-content-wrapper {display: block;}
.fusion-portfolio-text-floated .fusion-image-wrapper {max-width: none;}
.fusion-secondary-menu-icon {min-width: 100%;}
.fusion-page-title-row {height: auto;}
.fusion-page-title-wrapper {-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.fusion-page-title-bar-left .fusion-page-title-captions, .fusion-page-title-bar-right .fusion-page-title-captions, .fusion-page-title-bar-left .fusion-page-title-secondary, .fusion-page-title-bar-right .fusion-page-title-secondary {display: block;float: none;width: 100%;line-height: normal;}
.fusion-page-title-bar-left .fusion-page-title-secondary {text-align: left;}
.fusion-page-title-bar-left .fusion-page-title-secondary {margin: 2px 0 0;}
.fusion-page-title-bar-left .searchform {display: block;max-width: 100%;}
.fusion-page-title-bar-right .fusion-page-title-secondary {text-align: right;}
.fusion-page-title-bar-right .searchform {max-width: 100%;}
.fusion-contact-info {padding: .6em 30px;line-height: 1.5em;}
.fusion-author .fusion-social-networks {display: block;margin-top: 10px;}
.fusion-author-tagline {display: block;float: none;text-align: center;max-width: 100%;}
#wrapper {width: auto !important;}
#wrapper .share-box h4 {float: none;line-height: 20px !important;margin-top: 0;padding: 0;}
#wrapper .ei-slider {width: 100% !important;height: 200px !important;}
.create-block-format-context {display: none;}
.review {float: none;width: 100%;}
.fusion-body .fusion-social-links-footer, .fusion-copyright-notice {display: block;text-align: center;}
.fusion-social-links-footer {width: auto;}
.fusion-social-links-footer .fusion-social-networks {display: inline-block;float: none;margin-top: 0;}
.fusion-copyright-notice {padding: 0 0 15px;}
.fusion-copyright-notice:after, .fusion-social-networks:after {content: "";display: block;clear: both;}
.fusion-copyright-notice li, .fusion-social-networks li {float: none;display: inline-block;}
.tfs-slider .fusion-title {margin-bottom: 0 !important;}
.tfs-slider .slide-content-container .btn {min-height: 0 !important;padding-left: 30px;padding-right: 30px !important;height: 26px !important;line-height: 26px !important;}
#main .cart-empty {float: none;text-align: center;border-top-width: 1px;border-top-style: solid;border-bottom: none;width: 100%;line-height: normal !important;height: auto !important;margin-bottom: 10px;padding-top: 10px;}
#main .return-to-shop {float: none;border-top: none;border-bottom-width: 1px;border-bottom-style: solid;width: 100%;text-align: center;line-height: normal !important;height: auto !important;padding-bottom: 10px;}
#content.full-width {margin-bottom: 0;}
.sidebar .social_links .social li {width: auto;margin-right: 5px;}
#comment-input {margin-bottom: 0;}
#comment-input input {width: 100%;float: none !important;margin-bottom: 10px;}
#comment-textarea textarea {width: 100%;}
.pagination {margin-top: 40px;}
.portfolio-one .portfolio-item .image {float: none;width: auto;height: auto;margin-bottom: 20px;}
h5.toggle span.toggle-title {width: 80%;}
.share-box {height: auto;}
.share-box ul {float: none;overflow: hidden;padding: 0 25px 15px;margin-top: 0;}
.share-box .social-networks {text-align: left;}
.project-content .project-description {float: none !important;}
.project-content .fusion-project-description-details {margin-bottom: 50px;}
.project-content .project-description, .project-content .project-info {width: 100% !important;}
.single-avada_portfolio .portfolio-half .project-content .project-description h3 {margin-top: 24px;}
.portfolio-half .flexslider {width: 100% !important;}
.portfolio-half .project-content {width: 100% !important;}
#style_selector {display: none;}
.ls-avada .ls-nav-next, .ls-avada .ls-nav-prev {display: none !important;}
#footer .social-networks {width: 100%;margin: 0 auto;position: relative;left: -11px;}
.tab-holder .tabs {height: auto !important;width: 100% !important;}
.shortcode-tabs .tab-hold .tabs li {width: 100% !important;}
body.dark .sidebar .tab-hold .tabs li, body .shortcode-tabs .tab-hold .tabs li {border-right: none !important;}
.error_page .useful_links {width: 100%;}
.error-page .useful_links {padding-left: 0;}
.fusion-google-map {width: 100% !important;}
.popup {display: none !important;}
.fullwidth-box {background-attachment: scroll !important;}
.fullwidth-box .fullwidth-faded {background-attachment: scroll !important;}
#toTop {bottom: 30px;border-radius: 4px;height: 48px;}
#toTop:before {line-height: 46px;}
.no-mobile-totop .to-top-container {display: none;}
.no-mobile-slidingbar #slidingbar-area, .no-mobile-slidingbar .fusion-flyout-sliding-bar-toggle {display: none;}
.no-mobile-slidingbar.mobile-logo-pos-left .mobile-menu-icons {margin-right: 0;}
.fusion-soundcloud iframe {width: 100%;}
.ua-mobile #main, .ua-mobile .footer-area, .ua-mobile .fusion-header, .ua-mobile .fusion-page-title-bar, .ua-mobile body {background-attachment: scroll !important;}
.fusion-footer footer .fusion-row .fusion-columns .fusion-column {border-right: none;border-left: none;}
.flex-direction-nav .flex-prev {opacity: 1;left: 0;}
.flex-direction-nav .flex-next {opacity: 1;right: 0;}