.events-list .tribe-events-loop, .single-tribe_organizer .tribe-events-loop, .single-tribe_venue .tribe-events-loop, .tribe-events-day .tribe-events-loop {max-width: 100%;}
.tribe-filter-live #main {overflow: hidden;}
.tribe-events-gmap {font-weight: normal;}
#tribe-events-pg-template {max-width: 100%;}
.event-is-recurring {cursor: pointer;}
.tribe-events-notices {margin-top: 0;}
#tribe-events-bar {float: left;z-index: 5;margin-bottom: 60px;}
#tribe-events-bar:after, #tribe-events-bar:before {content: " ";position: absolute;display: block;background-color: #f5f5f5;width: 2224px;height: 100%;left: -2224px;overflow: hidden;}
#tribe-events-bar:after {left: 100%;}
#tribe-events-bar .tribe-bar-filters {padding: 25px 15px;}
body:not(.has-sidebar) #tribe-events-bar .tribe-bar-filters {margin-left: -30px;}
.has-sidebar #tribe-events-bar:after, .has-sidebar #tribe-events-bar:before {display: none;}
#tribe-events-bar #tribe-bar-form {display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-align-items: center;-ms-flex-align: center;align-items: center;float: left;}
#tribe-events-bar #tribe-bar-form input[type=text] {margin: 0;font-style: normal;font-weight: 400;}
#tribe-events-bar #tribe-bar-form label, #tribe-events-bar #tribe-bar-form #tribe-bar-collapse-toggle {font-size: .85em;}
#tribe-events-bar #tribe-bar-form:not(.tribe-bar-collapse) .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-submit .tribe-events-button {width: auto;}
#tribe-events-bar .tribe-bar-filters {float: none;width: auto;}
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner {display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-align-items: flex-end;-ms-flex-align: end;align-items: flex-end;}
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner:before, #tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner:after {display: none;}
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-date-filter, #tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-geoloc-filter, #tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-search-filter, #tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-submit {padding-top: 0;padding-bottom: 0;width: auto;-webkit-flex: 1;-ms-flex: 1;flex: 1;}
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-submit {margin: 0;}
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-submit input {float: right;margin: 0;width: auto;}
#tribe-events-bar #tribe-bar-views .tribe-bar-views-option, #tribe-events-bar #tribe-bar-views .tribe-bar-views-toggle {display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-align-items: center;-ms-flex-align: center;align-items: center;padding-left: 30px;padding-right: 30px;font-size: inherit;}
#tribe-events-bar #tribe-bar-views .tribe-bar-views-toggle:after {top: calc(50% + 3px);-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);right: 30px;border-width: 6px;}
#tribe-events-bar #tribe-bar-views .tribe-bar-views-list {padding-top: 0;}
#tribe-events-bar #tribe-bar-views .tribe-bar-views-inner {padding-top: 35px;padding-bottom: 35px;}
#tribe-events-bar #tribe-bar-views .tribe-bar-views-inner label {padding-left: 30px;padding-right: 30px;}
#tribe-events-bar .tribe-bar-views-open #tribe-bar-views .tribe-bar-views-toggle:after {top: calc(50% - 3px);}
#tribe-events-bar .tribe-events-button {margin-right: 9px;}
#tribe-events-bar .tribe-bar-full .tribe-bar-filters .tribe-bar-filters-inner input {margin-right: 0;}
.tribe-bar-disabled #tribe-events-bar {float: left;width: 100%;min-width: 220px;}
.tribe-bar-disabled #tribe-events-bar #tribe-bar-form {width: 100%;border-radius: 0;}
.events-archive .datepicker-dropdown {z-index: 100001 !important;}
.tribe-bar-disabled {float: none;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper .select2-container .select2-choice > .select2-chosen {line-height: 2;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper .ui-slider .ui-slider-handle {border: none;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper .tribe-reset-icon {height: auto;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal {position: relative;margin: 0;padding: 0;float: left;margin-bottom: 50px;width: 100%;z-index: 3;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal:after, #tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal:before {content: " ";position: absolute;display: block;background-color: #f5f5f5;width: 2224px;height: 100%;left: -2224px;overflow: hidden;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal:after {left: 100%;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe-events-filters-content {display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-align-items: center;-ms-flex-align: center;align-items: center;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;float: left;width: 100%;padding: 25px 0 10px;border: 0;background: transparent;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe-events-filters-content:after, #tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe-events-filters-content:before {display: none;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal #tribe_events_filter_control {-webkit-order: 2;-ms-flex-order: 2;order: 2;margin-bottom: 15px;margin-right: 0;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal #tribe_events_filters_reset, #tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe_events_filters_close_filters {margin-top: -11px;}
.tribe-filters-closed #tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal #tribe_events_filter_control, .tribe-mobile #tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal #tribe_events_filter_control {position: relative;}
.tribe-filters-open #tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal #tribe_events_filter_control.tribe-events-filters-mobile-controls {margin-top: 20px;margin-left: 0;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe-events-filters-label {margin: 0;padding-left: 0;width: 100%;border-bottom: 0;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal #tribe_events_filters_form {-webkit-order: 1;-ms-flex-order: 1;order: 1;margin: 15px 0;float: left;padding: 0;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal label input[type=checkbox], #tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal label input[type=radio] {width: auto;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe-events-filter-group {box-shadow: none;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe-events-filter-group:before {top: -14px;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe-events-filters-group-heading {padding: 0 15px 0 0;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal #tribe_events_filter_control #tribe_events_filters_reset, #tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal #tribe_events_filter_control #tribe_events_filters_toggle {height: auto;border-color: transparent;width: auto;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-vertical {z-index: 1;}
.tribe-mobile #tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-vertical {margin-bottom: 5em;}
.tribe-filters-open #tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-vertical {position: relative;margin-bottom: 30px;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-vertical .tribe-events-filters-content {background: transparent;border: none;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-vertical .tribe_events_filters_show_filters {text-align: center;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-vertical label input[type=checkbox], #tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-vertical label input[type=radio] {width: auto;}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-vertical #tribe_events_filter_control #tribe_events_filters_reset, #tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-vertical #tribe_events_filter_control #tribe_events_filters_toggle {height: auto;border-color: transparent;}
.fusion-events-before-title {margin-bottom: 60px;text-align: center;clear: both;}
#wrapper .post-content .fusion-events-before-title .tribe-events-page-title {position: relative;margin: 0;border-top-width: 1px;border-top-style: solid;border-bottom-width: 1px;border-bottom-style: solid;padding: 20px 0;text-align: center;}
.fusion-events-before-title .fusion-events-title-above {clear: none;}
.fusion-events-before-title .fusion-events-title-above:after, .fusion-events-before-title .fusion-events-title-above:before {content: "";display: block;overflow: hidden;position: absolute;top: 0;left: -2224px;width: 2224px;height: calc(100% - 2px);border-top: 1px solid;border-bottom: 1px solid;}
.fusion-events-before-title .fusion-events-title-above:after {left: 100%;}
.fusion-events-before-title .tribe-events-user-recurrence-toggle {margin-top: 30px;}
.tribe-events-page-template .fusion-events-before-title .tribe-events-user-recurrence-toggle {margin-top: 0;}
#tribe-events-footer .tribe-events-sub-nav, #tribe-events-header .tribe-events-sub-nav {overflow: visible;}
#tribe-events-content #tribe-events-header {display: none;margin-bottom: 60px;}
#tribe-events-content #tribe-events-header .tribe-events-sub-nav li {display: block;margin-top: -45px;}
#tribe-events-content #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next a, #tribe-events-content #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-previous a {display: inline-block;}
#tribe-events-content .tribe-events-tooltip {padding: 0;z-index: 100000;border: none;box-shadow: 3px 4px 21px rgba(0,0,0,.38);}
#tribe-events-content .tribe-events-tooltip .tribe-events-event-body {padding: 13px 22px 5px;}
#tribe-events-content .tribe-events-tooltip .entry-title, #tribe-events-content .tribe-events-tooltip .tribe-event-title {margin: 0;padding: 12px 22px;font-weight: normal;line-height: normal;}
#tribe-events-content .tribe-events-tooltip .tribe-events-event-thumb {padding-bottom: 10px;padding-top: 2px;max-width: 100%;}
#tribe-events-content .tribe-events-tooltip .tribe-events-arrow {display: none;}
#tribe-events-content .tribe-events-tooltip.recurring-info-tooltip .tribe-events-event-body {padding: 14px;}
#tribe-events-content .tribe-events-tooltip .tribe-events-event-body .description {word-wrap: break-word;}
#tribe-events-content .tribe-events-tooltip .tribe-event-duration {padding-bottom: 5px;font-weight: bold;}
#tribe-events-content .tribe-events-tooltip.tribe-event-featured .tribe-events-event-thumb {float: none;text-align: center;padding-top: 0;padding-bottom: 0;}
.tribe-events-tooltip .tribe-events-arrow {display: none;}
.tribe-grid-allday .column.first {font-weight: 700;text-transform: uppercase;text-align: center;font-size: 10px;}
.tribe-grid-allday .tribe-event-featured.tribe-events-week-allday-single a, .tribe-grid-allday .tribe-event-featured.tribe-events-week-hourly-single a, .tribe-grid-body .tribe-event-featured.tribe-events-week-allday-single a, .tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single a {color: inherit;}
#tribe-events .tribe-events-list .tribe-events-loop h2:first-of-type {margin-top: 0;}
.tribe-events-list-separator-month {text-align: left;padding: .4em 30px;font-size: 18px;margin: 2em auto 1.8em;}
#wrapper .tribe-events-list-separator-month {line-height: normal;}
.tribe-events-list-separator-month span {background-color: transparent;padding: 0;}
.tribe-events-list-separator-month:after {display: none;}
#tribe-events .tribe-events-list .type-tribe_events {padding: 0;border: 1px solid;margin-bottom: 44px;min-height: 250px;position: relative;}
#tribe-events .tribe-events-list .type-tribe_events .tribe-events-event-image {width: 100%;margin: 0;min-height: 250px;}
#tribe-events .tribe-events-list .tribe-event-featured {background-color: transparent;}
#tribe-events .tribe-events-list .tribe-event-featured .tribe-events-content, #tribe-events .tribe-events-list .tribe-event-featured .tribe-events-event-meta {color: inherit;}
#tribe-events .tribe-events-list .tribe-event-featured a {color: inherit;}
#tribe-events .tribe-events-list .fusion-tribe-events-event-image-responsive {display: none;}
#tribe-events .tribe-events-list .fusion-tribe-primary-info {float: left;width: 40%;position: relative;}
#tribe-events .tribe-events-list .fusion-tribe-primary-info .tribe-events-list-event-title {z-index: 2;position: absolute;right: 0;bottom: 0;left: 0;margin: 0;width: 100%;}
#tribe-events .tribe-events-list .fusion-tribe-primary-info .tribe-events-list-event-title a {display: block;margin: 0;padding: 15px 20px;}
#tribe-events .tribe-events-list .fusion-tribe-secondary-info {float: right;width: 60%;}
#tribe-events .tribe-events-list .fusion-tribe-secondary-info .recurringinfo {display: block;}
#tribe-events .tribe-events-list .fusion-tribe-secondary-info .event-is-recurring .tribe-events-divider {display: none;}
#tribe-events .tribe-events-list .tribe-events-event-cost {position: absolute;bottom: 0;right: 0;margin: 0;border: 0;}
#tribe-events .tribe-events-list .tribe-events-event-cost span {border: 0;padding: 10px 15px;}
#tribe-events .tribe-events-list .tribe-events-event-cost form {padding: 10px 15px;}
#tribe-events .tribe-events-list .tribe-events-event-cost form .tribe-button {margin: 0;}
#tribe-events .tribe-events-list .tribe-events-event-meta {margin: 0;padding: 0;float: right;width: 100%;background: none;border: none;}
#tribe-events .tribe-events-list .tribe-events-event-meta .author {display: table;table-layout: fixed;width: 100%;}
#tribe-events .tribe-events-list .tribe-events-event-meta .author > div {display: table-cell;vertical-align: middle;padding: 15px 4.5%;border-right-width: 1px;border-right-style: solid;border-bottom-width: 1px;border-bottom-style: solid;border-top: none;}
#tribe-events .tribe-events-list .tribe-events-event-meta .author > div:last-child {border-right: none;}
#tribe-events .tribe-events-list .tribe-events-content {width: auto;padding: 30px;}
#tribe-events .tribe-events-list .tribe-events-event-meta .tribe-events-gmap, #tribe-events .tribe-events-list .tribe-events-event-meta-desc .tribe-events-gmap {white-space: normal;}
#tribe-events .tribe-events-list .tribe-events-gmap:before {font-family: "IcoMoon";content: "";font-weight: 900;margin-right: 5px;}
#tribe-events .tribe-events-list .fusion-tribe-no-featured-image .fusion-tribe-events-headline {width: 40%;}
#tribe-events .tribe-events-list .fusion-tribe-no-featured-image .fusion-tribe-events-headline h3 {margin: 0;}
#tribe-events .tribe-events-list .fusion-tribe-no-featured-image .fusion-tribe-secondary-info {width: 100%;}
#tribe-events .tribe-events-list .hover-type-liftup {float: left;}
.tribe-events-list .tribe-events-loop .tribe-event-featured .time-details {font-weight: 700;}
.tribe-events-list .tribe-events-loop .tribe-event-featured .time-details .recurringinfo {font-weight: 400;}
#tribe-events .tribe-events-list .tribe-event-featured, #tribe-geo-results .tribe-event-featured .tribe-event-featured {background-color: transparent;}
#tribe-events .tribe-events-list .tribe-event-featured .tribe-events-content, #tribe-geo-results .tribe-event-featured .tribe-event-featured .tribe-events-content, #tribe-events .tribe-events-list .tribe-event-featured .tribe-events-event-meta, #tribe-geo-results .tribe-event-featured .tribe-event-featured .tribe-events-event-meta {color: inherit;}
#tribe-events .tribe-events-list .tribe-event-featured a, #tribe-geo-results .tribe-event-featured .tribe-event-featured a {color: inherit;}
#tribe-geo-results .tribe-event-featured {color: inherit;}
#tribe-events .tribe-events-list-separator-month + .type-tribe_events {border-top: 1px solid;}
.tribe-events-list-event-description .fusion-read-more {display: inline-block;margin-top: 10px;}
.type-tribe_events .fusion-tribe-primary-info .hover-type-liftup {width: 100%;}
.type-tribe_events .fusion-tribe-secondary-info .date-end, .type-tribe_events .fusion-tribe-secondary-info .end-time {display: inline;}
.tribe-events-list .time-details, .tribe-events-list .tribe-events-venue-details {line-height: 1.5;}
.tribe-events-list .tribe-events-venue-details {font-style: italic;font-weight: 400;}
.tribe-events-list .tribe-events-venue-details .tribe-address, .tribe-events-list .tribe-events-venue-details .tribe-country-name {display: block;}
#tribe-events .tribe-events-day .tribe-events-content {display: inline-block;float: none;}
#tribe-events .tribe-events-day .type-tribe_events {margin: 0 0 44px;border-top-width: 1px;border-top-style: solid;}
#tribe-events .tribe-events-day .tribe-events-day-time-slot .type-tribe_events:last-child {border-bottom-width: 1px;border-bottom-style: solid;}
#tribe-events .tribe-events-day .tribe-events-day-time-slot .tribe-events-day-time-slot-heading {text-align: left;padding: .4em 0;line-height: normal;padding-left: 30px;padding-right: 30px;margin: 2em auto 1.8em;text-transform: none;}
#tribe-events .fusion-blog-layout-grid .fusion-post-slideshow .slides {overflow: visible;}
.fusion-body #tribe-events .tribe-events-calendar td div[id*="tribe-events-daynum-"] > a {background: none;}
#tribe-events-content table.tribe-events-calendar {border-top-width: 1px;border-top-style: solid;}
.tribe-events-calendar thead th {border-left: 0;border-right: 0;padding: 1.5em 0;}
.fusion-events-featured-image {display: inline-block;position: relative;margin-bottom: 50px;max-width: 100%;}
.fusion-events-featured-image .hover-type-liftup {display: block;}
.fusion-events-featured-image .tribe-events-event-image {margin: 0;}
.fusion-events-featured-image .fusion-events-single-title-content {position: absolute;bottom: 0;left: 0;width: 100%;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;-webkit-align-items: baseline;-ms-flex-align: baseline;align-items: baseline;padding: 15px 20px;z-index: 1;}
.fusion-events-featured-image .fusion-events-single-title-content h2 {float: none;line-height: normal;}
.fusion-events-featured-image .fusion-events-single-title-content .tribe-events-schedule {margin: 0;padding: 0;float: none;background: none;border: none;}
.fusion-events-featured-image .fusion-events-single-title-content .tribe-events-schedule h3 {font-size: 16px;line-height: normal;}
.fusion-events-featured-image .fusion-events-single-title-content .event-is-recurring:hover, .fusion-events-featured-image .fusion-events-single-title-content a:hover {opacity: .7;}
.single-tribe_events #tribe-events-content .fusion-events-featured-image .updated {display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-align-items: baseline;-ms-flex-align: baseline;align-items: baseline;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.single-tribe_events .fusion-events-featured-image .recurringinfo {margin-right: 0;font-size: 16px;line-height: normal;font-weight: normal;}
.single-tribe_events .fusion-events-featured-image .recurringinfo .event-is-recurring {font-weight: normal;}
.single-tribe_events .fusion-events-featured-image .tribe-events-cost, .single-tribe_events .fusion-events-featured-image .tribe-events-divider {line-height: normal;font-size: 16px;}
.fusion-events-single-title {display: block;}
.fusion-events-single-title .fusion-events-single-title-content {position: static;}
.single-tribe_events .tribe-events-schedule .recurringinfo .tribe-events-divider {display: inline-block;}
.single-tribe_events .tribe-events-schedule .tribe-events-divider {padding: 0 10px;display: block;}
.single-tribe_events #main .sidebar.fusion-sticky-sidebar {padding: 0;}
#tribe-events-content #tribe-events-footer {overflow: hidden;padding-top: 20px;padding-bottom: 20px;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;margin-top: 50px;}
.single-tribe_events .tribe-events-single-section {background: transparent;border: none;margin: 0;}
.single-tribe_events .tribe-events-cal-links {margin-bottom: 0;}
.single-tribe_events .tribe-events-notices {margin-top: 0;}
.single-tribe_events ul.tribe-related-events > li {margin-right: 3.5%;width: 31%;border: none;background: none;}
.single-tribe_events ul.tribe-related-events > li:last-child {margin-right: 0;}
.single-tribe_events ul.tribe-related-events .tribe-related-events-title {font-weight: normal;}
.single-tribe_events ul.tribe-related-events li .tribe-related-event-info {line-height: 1.5;padding: 1em 0 0;}
.single-tribe_events #tribe-events-content .fusion-content-widget-area {margin-top: 60px;}
.single-tribe_events #tribe-events-content .fusion-content-widget-area .fusion-event-meta-wrapper {margin: 0 -15px;}
.single-tribe_events #tribe-events-content .fusion-content-widget-area .tribe-events-event-meta.primary {display: -webkit-flex;display: -ms-flexbox;display: flex;}
.single-tribe_events #tribe-events-content .fusion-content-widget-area .tribe-events-event-meta .tribe-events-meta-group {margin-bottom: 0;padding: 0 15px;}
.single-tribe_events #tribe-events-content .fusion-content-widget-area.fusion-event-meta-columns-2.fusion-event-meta-venue .tribe-events-meta-group {padding: 0 15px;}
.single-tribe_events #tribe-events-content .fusion-content-widget-area.fusion-event-meta-columns-3.fusion-event-meta-venue-map .tribe-events-meta-group {width: 33.3333%;}
.single-tribe_events #tribe-events-content .fusion-content-widget-area.fusion-event-meta-columns-3.fusion-event-meta-venue-map .tribe-events-venue-map {margin: 0;}
.single-tribe_events #tribe-events-content .fusion-content-widget-area.fusion-event-meta-columns-4.fusion-event-meta-venue-apart .fusion-event-meta-wrapper {display: -webkit-flex;display: -ms-flexbox;display: flex;}
.single-tribe_events #tribe-events-content .fusion-content-widget-area.fusion-event-meta-columns-4.fusion-event-meta-venue-apart .tribe-events-event-meta.primary {width: 50%;}
.single-tribe_events #tribe-events-content .fusion-content-widget-area.fusion-event-meta-columns-4.fusion-event-meta-venue-apart .tribe-events-event-meta.secondary {display: -webkit-flex;display: -ms-flexbox;display: flex;width: 50%;}
.single-tribe_events #tribe-events-content .fusion-content-widget-area.fusion-event-meta-columns-4.fusion-event-meta-venue-apart .tribe-events-event-meta.secondary .tribe-events-venue-map {margin: 0;padding: 0 15px;}
.single-tribe_events #tribe-events-content .tribe-events-event-meta .tribe-events-meta-group, .single-tribe_events .sidebar .tribe-events-event-meta .tribe-events-meta-group {width: 100%;float: none;margin: 0 0 45px;padding: 0;}
.single-tribe_events #tribe-events-content .tribe-events-event-meta .tribe-events-meta-group dt, .single-tribe_events .sidebar .tribe-events-event-meta .tribe-events-meta-group dt {float: none;margin: 0;font-weight: bold;}
.single-tribe_events #tribe-events-content .tribe-events-event-meta .tribe-events-meta-group dd, .single-tribe_events .sidebar .tribe-events-event-meta .tribe-events-meta-group dd {float: none;margin: 0;border-bottom-style: solid;border-bottom-width: 1px;margin-bottom: 10px;padding-bottom: 10px;}
.single-tribe_events #tribe-events-content .tribe-events-event-meta .tribe-events-meta-group dl:last-child, .single-tribe_events .sidebar .tribe-events-event-meta .tribe-events-meta-group dl:last-child {border-bottom: 0;}
.single-tribe_events #tribe-events-content .tribe-events-event-meta .tribe-events-meta-group .tribe-events-event-url a, .single-tribe_events .sidebar .tribe-events-event-meta .tribe-events-meta-group .tribe-events-event-url a, .single-tribe_events #tribe-events-content .tribe-events-event-meta .tribe-events-meta-group .tribe-organizer-url a, .single-tribe_events .sidebar .tribe-events-event-meta .tribe-events-meta-group .tribe-organizer-url a {word-wrap: break-word;}
.single-tribe_events #tribe-events-content .tribe-events-event-meta .url a, .single-tribe_events .sidebar .tribe-events-event-meta .url a {word-wrap: break-word;}
.single-tribe_events #tribe-events-content .tribe-events-event-meta .email, .single-tribe_events .sidebar .tribe-events-event-meta .email {word-wrap: break-word;}
.single-tribe_events #tribe-events-content .tribe-events-event-meta .tribe-events-single-section-title, .single-tribe_events .sidebar .tribe-events-event-meta .tribe-events-single-section-title {margin: 0 0 18px;}
.single-tribe_events #tribe-events-content .tribe-events-event-meta .tribe-events-venue-map, .single-tribe_events .sidebar .tribe-events-event-meta .tribe-events-venue-map {width: 100%;margin: -45px 0 45px;padding: 0;background-color: transparent;border: 0;}
.single-tribe_events #tribe-events-content .tribe-events-event-meta .tribe-events-gmap, .single-tribe_events .sidebar .tribe-events-event-meta .tribe-events-gmap {display: block;font-style: normal;position: relative;}
.single-tribe_events #tribe-events-content .tribe-events-event-meta .tribe-events-gmap::first-letter, .single-tribe_events .sidebar .tribe-events-event-meta .tribe-events-gmap::first-letter {color: transparent;}
.single-tribe_events #tribe-events-content .tribe-events-event-meta .tribe-events-gmap:before, .single-tribe_events .sidebar .tribe-events-event-meta .tribe-events-gmap:before {display: inline-block;font-family: "IcoMoon";content: "";font-weight: 900;margin-right: 3px;}
.sidebar .single-related-posts {display: none;}
#slidingbar-area .tribe-events-list-widget ol, .fusion-footer .tribe-events-list-widget ol, .post-content .tribe-events-list-widget ol, .sidebar .tribe-events-list-widget ol {list-style: none;margin: 0;padding: 0;}
#slidingbar-area .tribe-events-list-widget ol :first-child, .fusion-footer .tribe-events-list-widget ol :first-child, .post-content .tribe-events-list-widget ol :first-child, .sidebar .tribe-events-list-widget ol :first-child {padding-top: 0;}
#slidingbar-area .tribe-events-list-widget ol li, .fusion-footer .tribe-events-list-widget ol li, .post-content .tribe-events-list-widget ol li, .sidebar .tribe-events-list-widget ol li {overflow: hidden;margin: 0;padding: 20px 0;border-bottom-width: 1px;border-bottom-style: solid;}
#slidingbar-area .tribe-events-list-widget ol li .tribe-events-event-image, .fusion-footer .tribe-events-list-widget ol li .tribe-events-event-image, .post-content .tribe-events-list-widget ol li .tribe-events-event-image, .sidebar .tribe-events-list-widget ol li .tribe-events-event-image {float: left;margin: 0 13px 0 0;}
#slidingbar-area .tribe-events-list-widget ol li h4, .fusion-footer .tribe-events-list-widget ol li h4, .post-content .tribe-events-list-widget ol li h4, .sidebar .tribe-events-list-widget ol li h4 {margin: 0;}
#slidingbar-area .tribe-events-venue-widget ul, .fusion-footer .tribe-events-venue-widget ul, .post-content .tribe-events-venue-widget ul, .sidebar .tribe-events-venue-widget ul {margin-bottom: 13px;}
#slidingbar-area .tribe-events-venue-widget ul :first-child, .fusion-footer .tribe-events-venue-widget ul :first-child, .post-content .tribe-events-venue-widget ul :first-child, .sidebar .tribe-events-venue-widget ul :first-child {padding-top: 0;}
#slidingbar-area .tribe-events-venue-widget li, .fusion-footer .tribe-events-venue-widget li, .post-content .tribe-events-venue-widget li, .sidebar .tribe-events-venue-widget li {overflow: hidden;margin: 0;padding: 15px 0;border-bottom-width: 1px;border-bottom-style: solid;}
#slidingbar-area .tribe-events-venue-widget li h4, .fusion-footer .tribe-events-venue-widget li h4, .post-content .tribe-events-venue-widget li h4, .sidebar .tribe-events-venue-widget li h4 {margin: 0 0 5px;}
.tribe-events-adv-list-widget .duration, .tribe-events-list-widget .duration {display: inline-block;margin-top: 5px;font-weight: normal;line-height: 1.4;}
.tribe-events-adv-list-widget .tribe-events-widget-link a, .tribe-events-list-widget .tribe-events-widget-link a {font-weight: normal;}
.tribe-events-list-widget li.tribe-events-list-widget-events {display: -webkit-flex;display: -ms-flexbox;display: flex;}
.tribe-mini-calendar-event {overflow: hidden;margin: 0;padding: 20px 0;border-bottom-width: 1px;border-bottom-style: solid;}
.tribe-mini-calendar-event .list-date, .tribe-mini-calendar-event .list-info {margin-top: 0;margin-bottom: 0;}
.tribe-mini-calendar-event .list-info {line-height: 1.4em;}
.tribe-mini-calendar-event .list-info h2 {margin-bottom: 0;}
.tribe-mini-calendar-event .list-info .tribe-events-duration {margin-top: 5px;}
.tribe-mini-calendar-event .vcard {line-height: 20px;margin-top: 10px;}
.tribe-events-adv-list-widget :nth-child(2) .tribe-mini-calendar-event {padding-top: 0;}
.tribe-events-venue-widget .tribe-venue-widget-thumbnail {position: relative;}
.tribe-events-venue-widget .tribe-venue-widget-thumbnail .tribe-venue-widget-venue-name {position: absolute;z-index: 2;bottom: 0;left: 0;margin: 0;}
.tribe-events-venue-widget ul li a {padding: 0;border: 0;}
.tribe-events-venue-widget .tribe-venue-widget-venue-name {width: 100%;padding: 10px 15px;margin-bottom: 20px;}
.tribe-events-venue-widget .tribe-venue-widget-venue-name h3 {margin: 0;}
.tribe-events-venue-widget .tribe-venue-widget-venue-name a {font-weight: normal;}
.tribe-events-venue-widget .tribe-venue-widget-venue-name a:hover {opacity: .7;}
.tribe-mini-calendar {line-height: normal;}
.tribe-mini-calendar thead {background-color: transparent;border: none;}
.tribe-mini-calendar td, .tribe-mini-calendar th {border: 0;padding: 0;transition: none !important;}
.tribe-mini-calendar td {background-color: transparent;}
.tribe-mini-calendar .tribe-mini-calendar-nav td {padding: 10px;border: none;}
.tribe-mini-calendar .tribe-mini-calendar-nav td a, .tribe-mini-calendar .tribe-mini-calendar-nav td span {font-weight: normal;font-size: 16px;}
.tribe-mini-calendar .tribe-mini-calendar-nav td span {text-transform: initial;}
.tribe-mini-calendar .tribe-mini-calendar-nav-link.prev-month {float: left;}
.tribe-mini-calendar .tribe-mini-calendar-nav-link.next-month {float: right;}
.tribe-mini-calendar .tribe-mini-calendar-month, .tribe-mini-calendar .tribe-mini-calendar-nav-link.next-month, .tribe-mini-calendar .tribe-mini-calendar-nav-link.prev-month {padding: 0;}
.tribe-mini-calendar .tribe-mini-calendar-dayofweek {background-color: transparent;padding: 10px;border: 0;}
.tribe-mini-calendar .tribe-events-present, .tribe-mini-calendar .tribe-mini-calendar-today, .tribe-mini-calendar td.tribe-events-has-events, .tribe-mini-calendar td.tribe-events-has-events.tribe-events-present, .tribe-mini-calendar td.tribe-events-has-events.tribe-mini-calendar-today {background: transparent;}
.fusion-body .tribe-mini-calendar td.tribe-events-has-events {background-color: #222;}
.fusion-body .tribe-mini-calendar td.tribe-events-has-events.tribe-events-othermonth {background-color: #999;}
.fusion-body .tribe-mini-calendar td.tribe-events-has-events.tribe-events-othermonth a {color: #555;}
.tribe-mini-calendar td.tribe-events-has-events div[id*='daynum-'] a {font-weight: normal;}
.tribe-mini-calendar td.tribe-events-has-events div[id*='daynum-'] a:before {display: none;}
.tribe-mini-calendar .tribe-mini-calendar-no-event, .tribe-mini-calendar td.tribe-events-has-events div[id*='daynum-'] a {padding: 10px;}
.tribe-mini-calendar .tribe-mini-calendar-no-event {background-color: transparent;font-weight: normal;}
.tribe-mini-calendar .tribe-events-past {background-color: transparent;opacity: 1;}
.tribe-mini-calendar .tribe-events-has-events.tribe-mini-calendar-today:hover, .tribe-mini-calendar .tribe-events-has-events:hover {background-color: transparent;}
.fusion-body .tribe-mini-calendar .tribe-events-has-events:hover a:hover {background-color: transparent;}
.tribe-mini-calendar .tribe-events-othermonth, .tribe-mini-calendar .tribe-events-othermonth div[id*='daynum-'] a, .tribe-mini-calendar .tribe-events-othermonth div[id*='daynum-'] span {background-color: transparent;color: #999;}
.tribe-events-countdown-widget .tribe-countdown-text {margin: 0;text-align: center;padding-top: 20px;padding-bottom: 10px;font-size: 18px;font-weight: normal;}
.tribe-events-countdown-widget .tribe-countdown-text a {font-weight: normal;}
.tribe-events-countdown-widget .tribe-countdown-text a:hover {opacity: .7;}
.tribe-events-countdown-widget .tribe-countdown-timer {display: block;padding: 0 20px 20px;}
.tribe-events-countdown-widget .tribe-countdown-timer {line-height: normal;padding-top: 0;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-wrap: nowrap;-ms-flex-wrap: nowrap;flex-wrap: nowrap;-webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}
.tribe-events-countdown-widget .tribe-countdown-timer .tribe-countdown-number {float: none;padding: 12px 10px;margin-right: 5px;-webkit-flex-grow: 1;-ms-flex-positive: 1;flex-grow: 1;}
.tribe-events-countdown-widget .tribe-countdown-timer :last-child {margin-right: 0;}
.tribe-events-countdown-widget .tribe-countdown-timer .fusion-tribe-counterdown-over {display: block;font-weight: normal;font-size: 24px;}
.tribe-events-countdown-widget .tribe-countdown-timer .tribe-countdown-under {display: block;font-weight: normal;font-size: 12px;}
#wrapper .tribe-events-widget-link {margin: 13px 0 0;}
.tribe-events-sub-nav .tribe-events-nav-next a, .tribe-events-sub-nav .tribe-events-nav-previous a {display: inline-block;padding: 0;margin-bottom: 0;background: none;font-weight: normal;}
.tribe-events-sub-nav .tribe-events-nav-next a span, .tribe-events-sub-nav .tribe-events-nav-previous a span {display: none;}
.tribe-events-nav-left a, .tribe-events-nav-previous a {position: relative;margin-left: 10px;}
.tribe-events-nav-left a:before, .tribe-events-nav-previous a:before {font-family: "icomoon";content: "";margin-right: 6px;position: absolute;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);left: -10px;}
.tribe-events-nav-next a, .tribe-events-nav-right a {position: relative;margin-right: 10px;}
.tribe-events-nav-next a:after, .tribe-events-nav-right a:after {font-family: "icomoon";content: "";margin-left: 6px;position: absolute;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);right: -10px;}
.tribe-events-nav-left a:after {display: none;}
.tribe-events-nav-right a:before {display: none;}
.tribe-events-tooltip:before, .tribe-events-tooltip:after {content: " ";position: absolute;height: 0;width: 0;border: solid transparent;border-width: 10px;border-color: rgba(255,255,255,0);pointer-events: none;}
.tribe-events-week-grid .tribe-events-tooltip:before {left: 0;top: 50%;-webkit-transform: translate(-100%,-50%);-ms-transform: translate(-100%,-50%);transform: translate(-100%,-50%);}
.tribe-events-week-grid .tribe-events-tooltip:after {display: none;}
.tribe-events-week-grid .tribe-events-tooltip.tribe-events-tooltip-flipdown:before {display: block;top: 0;left: 10%;right: auto;-webkit-transform: translate(-50%,-100%);-ms-transform: translate(-50%,-100%);transform: translate(-50%,-100%);}
.tribe-events-week-grid .tribe-events-tooltip.tribe-events-tooltip-flipdown:after {display: none;}
.tribe-events-week-grid .tribe-events-right .tribe-events-tooltip:before {display: none;}
.tribe-events-week-grid .tribe-events-right .tribe-events-tooltip:after {display: block;right: 0;top: 50%;-webkit-transform: translate(100%,-50%);-ms-transform: translate(100%,-50%);transform: translate(100%,-50%);}
.tribe-events-month .tribe-events-tooltip:before {display: none;}
.tribe-events-month .tribe-events-tooltip:after {display: block;top: 100%;left: 10%;right: auto;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%);}
.tribe-events-month .tribe-events-tooltip.tribe-events-tooltip-flipdown:before {display: block;top: 0;left: 10%;right: auto;-webkit-transform: translate(-50%,-100%);-ms-transform: translate(-50%,-100%);transform: translate(-50%,-100%);}
.tribe-events-month .tribe-events-tooltip.tribe-events-tooltip-flipdown:after {display: none;}
.tribe-events-month .tribe-events-right .tribe-events-tooltip:after {left: 90%;}
.tribe-events-month .tribe-events-right .tribe-events-tooltip.tribe-events-tooltip-flipdown:before {left: 90%;}
.fusion-body.single-tribe_events #tribe-events-content form.cart {margin: 60px 0;}
.tribe-attendees-list-container, .tribe-link-tickets-message {margin-top: 60px;}
table.tribe-events-tickets {table-layout: fixed;}
table.tribe-events-tickets > tbody {border: 1px solid;}
table.tribe-events-tickets .button {margin-top: 10px;}
.fusion-body table.tribe-events-tickets .button {margin-left: 0;}
table.tribe-events-tickets tr td {display: table-cell;border: 1px solid;}
.fusion-body table.tribe-events-tickets tr td {padding: 15px 20px;}
table.tribe-events-tickets tr .woocommerce {width: 25%;border-bottom: 1px solid;}
table.tribe-events-tickets tr .tickets_name {width: 19%;}
table.tribe-events-tickets tr .tickets_price {width: 16%;}
table.tribe-events-tickets tr .tickets_price .amount {font-size: 1.25em;font-weight: normal;}
table.tribe-events-tickets tr .tickets_description {width: 40%;}
table.tribe-events-tickets tr .quantity.buttons_added input, table.tribe-events-tickets tr .quantity.tribe-ticket input {margin-bottom: 0;}
table.tribe-events-tickets tr .woocommerce .quantity input {text-align: center;}
table.tribe-events-tickets tr td.add-to-cart .tribe-button {margin: 0;}
table.tribe-events-tickets tr .tribe-ticket-quantity {-moz-appearance: textfield;}
table.tribe-events-tickets tr .tribe-ticket-quantity::-webkit-inner-spin-button, table.tribe-events-tickets tr .tribe-ticket-quantity::-webkit-outer-spin-button {-webkit-appearance: none;margin: 0;}
table.tribe-events-tickets tr .tribe-tickets-attendees {padding-top: 10px;}
table.tribe-events-tickets tr .tribe-tickets-remaining {display: block;margin-top: 3px;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event {margin-bottom: 40px;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__registration__status {right: 65px;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__registration__status.incomplete {background-color: #222;color: #fff;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__registration__toggle__handler {right: 30px;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__registration__title h2 {margin: 0;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__registration__tickets__header {margin-bottom: 15px;padding: 0 0 12px 0;border-bottom: 1px solid;font-weight: bold;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__registration__description {margin-top: 0;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__registration__tickets {margin: 30px -30px 0 -30px;padding: 30px;border-top: 1px solid;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__registration__summary, .page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__registration__actions, .page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__item__attendee__fields {padding: 30px;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__registration__tickets__item__icon {display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__registration__tickets__item__icon, .page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__registration__tickets__item__quantity, .page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__registration__tickets__item__title, .page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__registration__tickets__item__price {padding: 10px;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__registration__summary {padding-bottom: 0;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__registration__actions {padding-top: 0;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-ticket__heading {margin-top: 0;margin-bottom: .4em;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-ticket h4 {margin-top: 0;margin-bottom: 1em;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__item__attendee__fields .tribe-ticket {margin-bottom: 30px;padding-bottom: 30px;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__item__attendee__fields .tribe-field {margin-bottom: 25px;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__item__attendee__fields .tribe-field:last-child {margin-bottom: 0;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__item__attendee__fields .avada-select-parent, .page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__item__attendee__fields select {width: 100%;max-width: 400px;min-width: auto;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__item__attendee__fields label {margin-bottom: .4em;}
.page-tribe-attendee-registration .tribe-block__tickets__registration__event .tribe-block__tickets__item__attendee__fields .tribe-tickets-meta-label h3 {margin: 0;}
.page-tribe-attendee-registration button {cursor: pointer;}
table.tribe-events-tickets-rsvp tr .tickets_description, table.tribe-events-tickets-rsvp tr .tickets_name, table.tribe-events-tickets-rsvp tr .tribe-ticket {width: 30%;padding: 15px 20px;}
table.tribe-events-tickets-rsvp tr .tribe-ticket.quantity {display: table-cell;padding: 15px 20px;}
table.tribe-events-tickets-rsvp tr .tribe-ticket.quantity input.tribe-ticket-quantity {margin-bottom: 0;}
table.tribe-events-tickets-rsvp tr .tickets_description {width: 40%;}
table.tribe-events-tickets-rsvp .tribe-tickets-attendees header {margin-bottom: 5px;}
table.tribe-events-tickets-rsvp .tribe-tickets-table {border: none;}
table.tribe-events-tickets-rsvp .tribe-tickets-table .tribe-tickets-order_status-row select {width: 100%;}
.fusion-body table.tribe-events-tickets-rsvp .tribe-tickets-table td {padding: 5px 5px 0 0;border: none;}
#tribe-events .tickets-unavailable {margin-top: 30px;}
.tribe-events-address .tribe-address .tribe-country-name, .tribe-events-address .tribe-address .tribe-delimiter, .tribe-events-address .tribe-address .tribe-events-abbr, .tribe-events-address .tribe-address .tribe-postal-code, .tribe-events-address .tribe-address .tribe-region {padding-right: .4em;}
.rtl .tribe-events-address .tribe-address .tribe-country-name, .rtl .tribe-events-address .tribe-address .tribe-delimiter, .rtl .tribe-events-address .tribe-address .tribe-events-abbr, .rtl .tribe-events-address .tribe-address .tribe-postal-code, .rtl .tribe-events-address .tribe-address .tribe-region {padding-right: 0;padding-left: .4em;}
#tribe-bar-form .tribe-bar-submit input[type=submit], #tribe-events .tribe-events-button, #tribe-events .tribe-events-tickets .add-to-cart .tribe-button, #tribe_events_filter_control #tribe_events_filters_reset, #tribe_events_filter_control #tribe_events_filters_toggle {font-weight: bold;}