.group {zoom: 1;}
.group:before, .group:after {content: " ";display: table;}
.group:after {clear: both;}
.gform_wrapper {margin-bottom: 50px;}
.gform_wrapper ul.gform_fields {padding: 0;list-style-type: none;}
.gform_wrapper form li, .gform_wrapper li {list-style: outside none none;margin-left: 0;}
.gform_wrapper .gfield input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]), .gform_wrapper .gfield select, .gform_wrapper .gfield textarea {border: 1px solid #d2d2d2;font-size: 13px;color: #747474;padding: 8px 15px;}
.gform_wrapper .gfield textarea {padding: 12px 15px;}
.gform_wrapper .top_label input.large, .gform_wrapper .top_label select.large, .gform_wrapper .top_label textarea.textarea {width: 100%;}
.gform_wrapper .left_label input.medium, .gform_wrapper .right_label input.medium, .gform_wrapper .left_label select.medium, .gform_wrapper .right_label select.medium {width: 35% !important;}
.gform_wrapper .left_label .gfield_label {font-weight: normal;}
.gform_wrapper .gform_button, .gform_wrapper .gform_page_footer input[type=button] {padding: 9px 20px;line-height: 14px;font-size: 12px;}
.gform_wrapper .gform_button.button-3d:active, .gform_wrapper .gform_page_footer input[type=button].button-3d:active {top: 2px;}
.gform_wrapper .gform_button .fusion-button-text-left, .gform_wrapper .gform_page_footer input[type=button] .fusion-button-text-left {display: inline-block;padding-left: 25px;}
.gform_wrapper .gform_button .fusion-button-text-right, .gform_wrapper .gform_page_footer input[type=button] .fusion-button-text-right {display: inline-block;padding-right: 25px;}
.gform_wrapper .gform_button .button-icon-divider-left, .gform_wrapper .gform_page_footer input[type=button] .button-icon-divider-left {padding: 0 10px;}
.gform_wrapper .gform_button .button-icon-divider-left.fusion-megamenu-image, .gform_wrapper .gform_page_footer input[type=button] .button-icon-divider-left.fusion-megamenu-image {padding: 0 5px;}
.gform_wrapper .gform_button .button-icon-divider-right, .gform_wrapper .gform_page_footer input[type=button] .button-icon-divider-right {padding: 0 10px;}
.gform_wrapper .gform_button .button-icon-divider-right.fusion-megamenu-image, .gform_wrapper .gform_page_footer input[type=button] .button-icon-divider-right.fusion-megamenu-image {padding: 0 5px;}
.gform_wrapper .gform_button .button-icon-divider-left i, .gform_wrapper .gform_page_footer input[type=button] .button-icon-divider-left i, .gform_wrapper .gform_button .button-icon-divider-left img, .gform_wrapper .gform_page_footer input[type=button] .button-icon-divider-left img, .gform_wrapper .gform_button .button-icon-divider-right i, .gform_wrapper .gform_page_footer input[type=button] .button-icon-divider-right i, .gform_wrapper .gform_button .button-icon-divider-right img, .gform_wrapper .gform_page_footer input[type=button] .button-icon-divider-right img {top: 50%;margin-top: -6px;display: block;}
.gform_wrapper .gfield_select[multiple=multiple] {border: 1px solid #d2d2d2;}
.gform_wrapper .ginput_complex .ginput_right .gravity-select-parent select, .gform_wrapper .gravity-select-parent .ginput_complex select, .gform_wrapper .gravity-select-parent select {width: 100%;text-indent: 2px;}
.gform_wrapper label {font-weight: normal;}
.gform_wrapper .gfield_time_hour label {display: inline;}
.gform_wrapper .gform_footer {padding: 0;}
.gform_wrapper span.ginput_total {font-size: 18px;}
.gform_wrapper .gfield .gravity-select-parent {position: relative;overflow: hidden;}
.gform_wrapper .gfield .gravity-select-parent .select-arrow {height: 34px;}
.gform_wrapper .gfield .gravity-select-parent select {-webkit-appearance: none;text-overflow: "";box-sizing: border-box;cursor: pointer;display: block;outline: none;height: auto;padding: 8px 15px;position: relative;text-indent: .01px;vertical-align: middle;z-index: 5;margin: 0;min-width: 70px;}
.gform_wrapper .ginput_complex .gravity-select-parent {width: 95% !important;}
.gform_wrapper .gfield_list_icons img {margin-top: 4px !important;}
.gform_wrapper .top_label .gfield_label {margin-bottom: 0 !important;}
.gform_wrapper ul li.gfield {margin-bottom: 15px;}
.gform_wrapper .gfield_time_hour label, .gform_wrapper .gfield_time_minute label {margin-bottom: 0 !important;}
.gform_wrapper .gfield_time_hour i {margin-top: 3% !important;}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {margin-top: .1em !important;}
.gfield_time_ampm .gravity-select-parent {width: auto !important;}
.gfield_time_ampm .gravity-select-parent select {height: 33px;padding-left: 6px !important;min-width: 61px !important;}
.gfield_time_ampm .select-arrow {width: 31px;height: 31px;}
#wrapper .entry-summary .gform_wrapper ul li {clear: none !important;}
#wrapper .gform_wrapper .gravity-select-parent select {margin: 0;}
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio] {margin-left: 3px !important;}
.gform_page_footer input[type="button"], .gform_wrapper .button, .gform_wrapper .gform_button {font-weight: bold;}