.fusion-page-title-bar {clear: both;padding: 0 10px;height: 87px;width: 100%;background-position: center center;background-repeat: no-repeat;background-origin: border-box;background-color: #f6f6f6;border-top: 1px solid #d2d3d4;border-bottom: 1px solid #d2d3d4;}
.fusion-page-title-bar h1, .fusion-page-title-bar h3 {margin: 0;padding: 0;line-height: 26px;font-weight: normal;font-size: 14px;color: #343333;}
.fusion-page-title-bar h1 {font-size: 18px;}
.fusion-page-title-row {overflow: hidden;margin: 0 auto;height: 100%;max-width: 940px;}
.fusion-page-title-wrapper {display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-align-items: center;-ms-flex-align: center;align-items: center;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;z-index: 1;position: relative;height: 100%;width: 100%;}
.page-title-bar-search .fusion-page-title-captions {width: auto;}
.fusion-page-title-secondary {-webkit-flex-shrink: 0;-ms-flex-negative: 0;flex-shrink: 0;text-align: right;}
.fusion-page-title-secondary .searchform {display: inline-block;width: 100%;max-width: 250px;}
.fusion-breadcrumbs {list-style: none;margin: 0;padding: 0;}
.fusion-breadcrumbs span {display: inline-block;}
.fusion-page-title-bar-left .fusion-page-title-secondary {margin-left: 10px;}
.fusion-page-title-bar-center .fusion-page-title-captions {text-align: center;width: 100%;}
.fusion-page-title-bar-center .fusion-page-title-secondary {display: block;width: 100%;text-align: center;}
.fusion-page-title-bar-center .searchform {margin-top: 10px;}
.fusion-page-title-bar-right .fusion-page-title-wrapper {-webkit-flex-flow: row-reverse;-ms-flex-flow: row-reverse;flex-flow: row-reverse;}
.fusion-page-title-bar-right .fusion-page-title-secondary {margin-right: 10px;}
.fusion-page-title-bar-right .fusion-page-title-captions {text-align: right;}
.fusion-page-title-bar-right .fusion-page-title-secondary {text-align: left;}