[class*=" fusiona-"], [class^="fusiona-"], span[class*=" fusiona-"] {font-family: "icomoon";speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.fusiona-logo:before {content: "";}
.fusiona-footer:before {content: "";}
.fusiona-page_title:before {content: "";}
.fusiona-loop-alt2:before {content: "";}
.fusiona-anchor:before {content: "";}
.fusiona-columns:before {content: "";}
.fusiona-file-alt:before {content: "";}
.fusiona-copy:before {content: "";}
.fusiona-exclamation-sign:before {content: "";}
.fusiona-blog:before {content: "";}
.fusiona-check-empty:before {content: "";}
.fusiona-list-ul:before {content: "";}
.fusiona-users:before {content: "";}
.fusiona-newspaper:before {content: "";}
.fusiona-clock:before {content: "";}
.fusiona-browser:before {content: "";}
.fusiona-d:before {content: "";}
.fusiona-air:before {content: "";}
.fusiona-map:before {content: "";}
.fusiona-flag:before {content: "";}
.fusiona-move-horizontal:before {content: "";}
.fusiona-uniF6CC:before {content: "";}
.fusiona-image:before {content: "";}
.fusiona-images:before {content: "";}
.fusiona-uniF602:before {content: "";}
.fusiona-stack:before {content: "";}
.fusiona-user:before {content: "";}
.fusiona-dollar:before {content: "";}
.fusiona-tasks:before {content: "";}
.fusiona-feather:before {content: "";}
.fusiona-uniF61C:before {content: "";}
.fusiona-insertpicture:before {content: "";}
.fusiona-link:before {content: "";}
.fusiona-soundcloud:before {content: "";}
.fusiona-table:before {content: "";}
.fusiona-folder:before {content: "";}
.fusiona-list-alt:before {content: "";}
.fusiona-bubbles:before {content: "";}
.fusiona-font:before {content: "";}
.fusiona-H:before {content: "";}
.fusiona-expand-alt:before {content: "";}
.fusiona-hand-up:before {content: "";}
.fusiona-film:before {content: "";}
.fusiona-star-empty:before {content: "";}
.fusiona-shopping-cart:before {content: "";}
.fusiona-share2:before {content: "";}
.fusiona-layers-alt:before {content: "";}
.fusiona-minus:before {content: "";}
.fusiona-TFicon:before {content: "";}
.fusiona-youtube:before {content: "";}
.fusiona-vimeo2:before {content: "";}
.fusiona-sidebar:before {content: "";}
.fusiona-header:before {content: "";}
.fusiona-tag:before {content: "";}
.fusiona-pointer:before {content: "";}
.fusiona-external-link:before {content: "";}
.fusiona-external-link-square:before {content: "";}
.fusiona-file:before {content: "";}
.fusiona-ellipsis:before {content: "";}
.fusiona-tools:before {content: "";}
.fusiona-pin-outline:before {content: "";}
.fusiona-sitewidth:before {content: "";}
.fusiona-search:before {content: "";}
.fusiona-envelope-o:before {content: "";}
.fusiona-plus:before {content: "";}
.fusiona-plus2:before {content: "";font-size: 12px;}
.fusiona-socialmedia:before {content: "";}
.fusiona-menu:before {content: "";}
.fusiona-code:before {content: "";}
.fusiona-css3:before {content: "";}
.fusiona-equalizer:before {content: "";}
.fusiona-loop:before {content: "";}
.fusiona-droplet:before {content: "";}
.fusiona-drive:before {content: "";}
.fusiona-pen:before {content: "";}
.fusiona-file-add:before {content: "";}
.fusiona-trash-o:before {content: "";}
.fusiona-reply:before {content: "";}
.fusiona-forward:before {content: "";}
#poststuff .pyre_metabox h2 {margin-top: 30px;padding-left: 0;padding-right: 0;}
#section-post_type_order .controls, #section-status_revslider .controls {display: none;}
.fusion-featured-image-meta-box a {box-shadow: none;}
.hide-if-no-js a img {max-width: 254px;height: auto;}
.form-field-checkbox input[type=checkbox] {width: 16px !important;}
.form-field-checkbox .description {display: inline-block !important;}
.pyre_metabox_field textarea {max-width: 100%;}
.post-type-slide #sbg-sortables, .post-type-slide #slide-page-add-toggle {display: none;}
#pyre_events_calendar_options .inside, #pyre_page_options .inside, #pyre_portfolio_options .inside, #pyre_post_options .inside, #pyre_slide_options .inside, #pyre_woocommerce_options .inside {padding: 0;margin: 0;}
#pyre_slide_options .pyre_metabox {width: 100%;}
.pyre_metabox_tabs {margin: 0;padding: 0;width: 17%;float: left;box-sizing: border-box;background: #f5f5f5;}
.rtl .pyre_metabox_tabs {float: right;}
.pyre_metabox_tabs li {margin: 0;padding: 0;}
.pyre_metabox_tabs li a {display: block;font-size: 13px;color: #222;text-decoration: none;padding: 13px;border-bottom: 1px solid #e2dddb;border-right: 1px solid #e2dddb;word-wrap: break-word;box-shadow: none;}
.pyre_metabox_tabs li.active a, .pyre_metabox_tabs li a:hover {background-color: #fff;border-right-color: transparent;}
.pyre_metabox {width: 83%;float: left;box-sizing: border-box;padding: 30px 30px 10px;}
.rtl .pyre_metabox {float: right;}
.pyre_metabox_field {border-bottom: 1px solid #f3f3f3;padding-top: 14px;padding-bottom: 14px;}
.pyre_metabox_tab .pyre_metabox_field:first-child {padding-top: 0;}
.pyre_metabox_tab {display: none;}
.pyre_metabox_tab.active {display: block;}
.pyre_desc {width: 44.5%;float: left;}
#poststuff .pyre_metabox h3 {margin: 10px 0 5px;padding-left: 0 !important;font-size: 17px !important;color: #b5b4b4;}
.pyre_desc label {font-size: 13px;color: #222;}
.pyre_desc p {margin: 8px 0 0;color: #939393;font-size: 12px;}
.pyre_field {width: 51.8%;float: right;}
.pyre_field input[type=text], .pyre_field select {width: 100%;box-sizing: border-box;margin: 0;border: 1px solid rgba(0,0,0,.05) !important;color: #333;font-size: 13px;padding-left: .75em;height: 34px;line-height: 32px;box-shadow: none !important;background: #f4f2f2 !important;}
.pyre_field textarea {background: #f4f2f2 !important;border: 1px solid rgba(0,0,0,.05) !important;box-shadow: none !important;}
.pyre_metabox_field {overflow: hidden;}
.pyre_field {position: relative;}
.fusion-options-holder .select2-container .select2-selection, .pyre_field .select2-container .select2-choice, .pyre_field .select2-container .select2-selection {padding-left: .75em;line-height: 32px;box-sizing: border-box !important;background-image: none !important;height: 34px;border-radius: 0 !important;background-color: #f4f2f2;border-color: rgba(0,0,0,.05) !important;box-shadow: none !important;-webkit-box-shadow: none !important;}
.fusion-options-holder .select2-container .select2-selection:focus, .pyre_field .select2-container .select2-selection:focus {outline: none;}
.fusion-options-holder .select2-container .select2-selection > .select2-selection__rendered, .pyre_field .select2-container .select2-selection > .select2-selection__rendered {height: 32px;line-height: 32px;margin-right: 35px;background-color: #f4f2f2 !important;}
.fusion-options-holder .select2-container .select2-selection .select2-selection__arrow, .pyre_field .select2-container .select2-choice .select2-arrow, .pyre_field .select2-container .select2-selection .select2-selection__arrow {width: 31px !important;height: 32px !important;background-image: none !important;background: #f4f2f2 !important;box-shadow: none !important;-webkit-box-shadow: none !important;transition: all 200ms ease-in-out;border-left: 1px solid rgba(0,0,0,.05) !important;}
.fusion-options-holder .select2-container .select2-selection span, .pyre_field .select2-container .select2-selection span {margin-right: 0 !important;}
.fusion-options-holder .select2-container .select2-selection .select2-selection__arrow b, .pyre_field .select2-container .select2-choice .select2-arrow b, .pyre_field .select2-container .select2-selection .select2-selection__arrow b {border: none;position: relative;margin: 0;top: auto;left: auto;display: block;width: 100%;text-align: center;background: none !important;}
.fusion-options-holder .select2-container .select2-selection .select2-selection__arrow b:after, .pyre_field .select2-container .select2-choice .select2-arrow b:after, .pyre_field .select2-container .select2-selection .select2-selection__arrow b:after {content: "" !important;font-family: dashicons !important;font-size: 12px !important;color: #777 !important;border: none !important;margin: 0 !important;}
.select2-drop.avada-select2 {background: #f4f2f2 !important;margin-top: -1px;border: 1px solid rgba(0,0,0,.05) !important;box-shadow: none !important;-webkit-box-shadow: none !important;border-radius: 0 !important;-webkit-border-radius: none !important;}
.select2-drop.avada-select2 .select2-results {padding: 0;margin: 0;}
.select2-dropdown.avada-select2 {background: #f4f2f2 !important;}
.select2-container--open .select2-dropdown.avada-select2 {margin-top: -1px;border: 1px solid rgba(0,0,0,.05) !important;box-shadow: none !important;-webkit-box-shadow: none !important;border-radius: 0 !important;-webkit-border-radius: none !important;}
.avada-range input[type="text"], .select2-drop.avada-select2 .select2-result, .select2-dropdown.avada-select2 .select2-results .select2-results__option {padding: 0 .75em !important;height: 32px !important;line-height: 29px !important;overflow: hidden !important;}
.avada-select2 .select2-results .select2-results__option--highlighted, .select2-drop.avada-select2 .select2-result.select2-highlighted {background: #0073aa !important;color: #fff !important;box-shadow: none !important;-webkit-box-shadow: none !important;border-radius: 0 !important;-webkit-border-radius: none !important;}
.avada-select2 .select2-results__option[aria-selected="true"] {background-color: transparent;}
.select2-dropdown.avada-select2 .select2-results {margin: 0 !important;padding: 0 !important;max-height: 300px !important;background: #f4f2f2 !important;}
.avada-select2 .select2-results li:last-child {margin-bottom: 0;}
.avada-select2 .select2-search {background: #f4f2f2 !important;}
.pyre_field.avada-buttonset .ui-button {border-radius: 0;height: auto;cursor: pointer;display: block;float: left;margin-right: -1px;z-index: 1;border: 1px solid red;border: 1px solid #ccc;vertical-align: middle;padding: 7px 14px 8px;text-shadow: 0 1px 1px rgba(255,255,255,.75);color: #333;font-size: 13px;line-height: normal;border-bottom-color: #bbb;box-shadow: none !important;transition: .1s linear background-image;transition: all 200ms ease-in-out;overflow: visible;text-decoration: none;}
.pyre_field.avada-buttonset .ui-button .ui-button-text {display: block;padding: 0;line-height: 1.4;}
.pyre_field.avada-buttonset .ui-buttonset .ui-state-active {background-image: none !important;box-shadow: none !important;-webkit-box-shadow: none !important;color: #fff;text-shadow: 0 -1px 0 rgba(0,0,0,.25);}
.avada-buttonset .ui-buttonset .ui-state-active {background-color: #00a0d2;}
.pyre_field.avada-dimension .fusion-builder-dimension {margin-right: 10px;margin-bottom: 7px;margin-bottom: 6px;font-size: 0;white-space: nowrap;display: inline-block;overflow: hidden;}
.pyre_field.avada-dimension .fusion-builder-dimension .add-on {border: 1px solid rgba(0,0,0,.1) !important;border: none;border-right: none !important;height: 34px;width: 34px;font-size: 12px;background-color: #fff;box-sizing: border-box;color: rgba(0,0,0,.5);padding: 0;font-weight: 400;line-height: 32px;text-align: center;text-shadow: 0 1px 0 #fff;display: block;float: left;min-width: 16px;}
.pyre_field.avada-dimension .fusion-builder-dimension .add-on i {font-size: 13px;text-rendering: auto;-webkit-font-smoothing: antialiased;height: 32px;line-height: 32px;}
.pyre_field.avada-dimension .fusion-builder-dimension input[type="text"] {width: 68px;padding: 0 .75em;float: left;margin: 0;text-align: center;}
.avada-range .noUi-handle:after, .avada-range .noUi-handle:before {display: none;}
.avada-range input[type="text"].fusion-slider-input {margin-right: 25px;background: #f4f2f2;transition: all 200ms ease-in-out;border: 1px solid rgba(0,0,0,.05);width: 100px;text-align: center;display: block;float: left;line-height: 1.4;}
.avada-range .fusion-slider-container {margin: 10px 0;width: calc(100% - 130px);display: block;float: left;}
.avada-range .fusion-slider-container.fusion-with-default {width: calc(100% - 295px);}
.avada-range label {float: right;width: 140px;margin-top: 6px;margin-left: 25px;font-style: italic;color: #999;font-size: 14px;}
@media (max-width: 1000px) {.avada-range label {float: none;clear: both;margin-left: 0;padding-top: 10px;}
	.avada-range .fusion-slider-container.fusion-with-default {width: calc(100% - 130px);}}
.avada-range .fusion-slider-container.noUi-target {background-color: transparent !important;background-color: rgba(0,0,0,0) !important;background-image: none !important;box-shadow: none;border: none;border-top: 2px solid #00a0d2;border-radius: 0 !important;position: relative;top: 5px;}
.avada-range .fusion-slider-container .noUi-origin {border-top: 2px solid #ddd;top: -2px;}
.avada-range .fusion-slider-container .noUi-handle:before, .range .fusion-slider-container .noUi-handle:after {display: none !important;}
.avada-range .fusion-slider-container .noUi-handle {box-sizing: border-box;width: 12px;height: 12px;left: -10px;top: -7px;cursor: ew-resize;border-radius: 100%;transition: all .2s ease-out;border: none !important;background-color: #00a0d2 !important;background-image: none !important;box-shadow: none !important;}
.avada-range .fusion-slider-container .noUi-handle.noUi-active {-webkit-transform: scale3d(2.5,2.5,1);transform: scale3d(2.5,2.5,1);}
.pyre_field textarea {margin: 0;}
#pyre_tab_pagetitlebar #pyre_page_title_custom_subheader, #pyre_tab_pagetitlebar #pyre_page_title_custom_text {padding: 7px 15px;resize: none;}
.pyre_metabox_tabs a:after, .pyre_metabox_tabs a:before {font-family: "icomoon";speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;margin-right: 8px;}
.pyre_metabox_tabs a[href^="sliders"]:before {content: "";}
.pyre_metabox_tabs a[href^="page"]:before {content: "";}
.pyre_metabox_tabs a[href^="header"]:before {content: "";}
.pyre_metabox_tabs a[href^="footer"]:before {content: "";}
.pyre_metabox_tabs a[href^="sidebar"]:before {content: "";}
.pyre_metabox_tabs a[href^="background"]:before {content: "";}
.pyre_metabox_tabs a[href^="portfolio"]:before {content: "";}
.pyre_metabox_tabs a[href^="pagetitlebar"]:before {content: "";}
.pyre_metabox_tabs a[href^="faq_page"]:before, .pyre_metabox_tabs a[href^="post"]:before {content: "";}
.pyre_metabox_tabs a[href^="avada_page_options"]:before {content: "";}
.pyre_metabox_tabs a:after {display: none;}
.pyre_upload {overflow: hidden;padding-bottom: 5px;}
.upload_field {float: left;width: calc(100% - 100px) !important;}
#pyre_page_options .fusion_upload_button, #pyre_portfolio_options .fusion_upload_button, #pyre_post_options .fusion_upload_button, #pyre_slide_options .fusion_upload_button, #pyre_woocommerce_options .fusion_upload_button {float: left;margin: 0 0 0 5px !important;height: 34px;width: 90px;background: none repeat scroll 0 0 #fff;border: 1px solid #c7c5c5;color: #333;font-size: 13px;text-align: center;text-decoration: none;cursor: pointer;display: block !important;border-radius: 0 !important;box-shadow: none !important;}
.pyre_metabox_field .fusion-colors-important-notice, .pyre_metabox_field .fusion-redux-important-notice {position: relative;padding: 2em;font-style: italic;font-size: 1.1em;line-height: 1.5;}
.pyre_metabox_field .fusion-colors-important-notice:before, .pyre_metabox_field .fusion-redux-important-notice:before {content: "";background: #0073aa;opacity: .1;position: absolute;width: 100%;height: 100%;top: 0;left: 0;}
.pyre_metabox_field .fusion-colors-important-notice strong, .pyre_metabox_field .fusion-redux-important-notice strong {color: #0073aa;}
.pyre_metabox_field .fusion-colors-important-notice a, .pyre_metabox_field .fusion-redux-important-notice a {position: relative;}
#themefusion_news .rss-widget {border-bottom: 1px solid #eee;font-size: 13px;padding: 8px 12px 10px;}
#themefusion_news .rss-widget:last-child {border-bottom: medium none;padding-bottom: 8px;}
#themefusion_news .rss-widget span.rss-date {margin-left: 12px;}
#themefusion_news .rss-widget:nth-of-type(2) ul li:first-child {display: none;}
.wrap.tgmpa .subsubsub {display: none;}
#setting-error-tgmpa {padding: 10px 38px 10px 20px;}
#setting-error-tgmpa .fusion-update-heading {display: block;margin-bottom: .5em;font-size: 1.3em;color: #dc3232;}
#setting-error-tgmpa .fusion-update-heading > em {font-style: normal;}
#setting-error-tgmpa > p > strong > span:nth-of-type(2) {margin-top: 0 !important;}
.fusion-double-fields {overflow: hidden;}
.fusion-double-fields .fusion-field {width: 49%;float: left;}
.avada-admin-toggle {margin-bottom: 30px;}
.avada-admin-toggle .avada-admin-toggle-heading {display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;-webkit-align-items: center;-ms-flex-align: center;align-items: center;padding: 25px;background-color: #fafafa;border: 1px solid #dfdfdf;cursor: pointer;}
.avada-admin-toggle .avada-admin-toggle-heading h3 {margin: 0;}
.avada-admin-toggle .avada-admin-toggle-content {display: none;padding: 25px;background: #fff;border: 1px solid #dfdfdf;border-top: none;box-shadow: 0 1px 1px rgba(0,0,0,.04);}
.avada-admin-toggle .avada-admin-toggle-content li {margin-bottom: 15px;}
.rtl.nav-menus-php .option-details, .rtl.widgets-php .option-details, .rtl.nav-menus-php .option-field, .rtl.widgets-php .option-field {float: right;}
.rtl.nav-menus-php .option-field, .rtl.widgets-php .option-field {margin-right: 10%;margin-left: 0;}
.rtl .pyre_metabox_tabs a:before {display: inline-block;margin-left: 8px;margin-right: 0;}
.rtl .pyre_desc {float: right;}
.rtl .pyre_field {float: left;}
.rtl .pyre_field .select2-arrow {border-left: none;border-right: 1px solid rgba(0,0,0,.05) !important;}
.rtl .pyre_field.avada-buttonset .ui-button {float: right;}
.rtl .pyre_field.avada-color .wp-color-result {float: right;width: auto;}
.rtl .pyre_field.avada-color .wp-color-result-text {border-radius: 0;}
.rtl .pyre_field.avada-color .wp-picker-container.wp-picker-active .wp-picker-input-wrap input[type="text"] {margin-right: 0;margin-left: 5px;}
.rtl .pyre_field.avada-color .wp-picker-container.wp-picker-active .iris-palette-container {right: 10px;left: auto;}
.rtl .pyre_field.avada-color .wp-picker-container.wp-picker-active .iris-picker .iris-picker-inner .iris-slider {margin-right: 15px !important;margin-left: 0 !important;}
.rtl .pyre_field.avada-color .wp-picker-input-wrap {float: left;}
.rtl .avada-range input.fusion-slider-input[type="text"] {float: right;margin-left: 25px;margin-right: 0;}
.rtl .avada-range .fusion-slider-container {float: right;}
.rtl .avada-range label {float: right;margin-left: 0;margin-right: 25px;}
.pyre-default-reset {position: relative;overflow: hidden;}
.pyre-default-reset a, .pyre-default-reset.checked span {position: relative;opacity: 1;transition: all 200ms ease-in-out;bottom: 0;box-shadow: none !important;}
.pyre-default-reset span, .pyre-default-reset.checked a {position: absolute;opacity: 0;bottom: -10px;transition: none;}
.icon_select_container {height: 263px;overflow: auto;width: 100%;border: 1px solid #aaa;overflow-x: hidden;}
.icon_select_container .selected-element, .icon_select_container .selected-element:hover {color: #fff;background-color: #278ab7;}
.icon_preview {position: relative;font-size: 14px;line-height: 32px;width: 32px;height: 32px;color: #494949;background: #fff;display: block;text-align: center;float: left;border: 1px solid #e1e1e1;margin-left: -1px;margin-top: -1px;transition: all .1s ease-out;cursor: pointer;}
.icon_preview svg {pointer-events: none;}
.icon_preview:hover {color: #278ab7;z-index: 3;-webkit-transform: scale(1.3);-ms-transform: scale(1.3);transform: scale(1.3);}
.fusion-active.menu-item-settings {z-index: 9999 !important;}
.nav-menus-php .select2-container, .widgets-php .select2-container {z-index: 99999 !important;}
.nav-menus-php .fusion-builder-modal-settings-container, .widgets-php .fusion-builder-modal-settings-container {box-shadow: 0 0 100px rgba(0,0,0,.5);border-radius: 2px;position: fixed;top: 5%;left: 0;right: 0;bottom: 5%;width: 85%;max-width: 1250px;margin: auto;background: #fff;overflow: auto;padding: 1em;box-sizing: border-box;z-index: 99999;}
.nav-menus-php .fusion-builder-modal-settings-container .ui-button, .widgets-php .fusion-builder-modal-settings-container .ui-button {border-radius: 0;height: auto;cursor: pointer;display: block;float: left;margin-right: -1px;z-index: 1;border: 1px solid red;border: 1px solid #ccc;vertical-align: middle;background: #f5f5f5;padding: 7px 14px 8px;text-shadow: 0 1px 1px rgba(255,255,255,.75);color: #333;font-size: 13px;line-height: normal;border-bottom-color: #bbb;box-shadow: none !important;transition: .1s linear background-image;transition: all 200ms ease-in-out;overflow: visible;text-decoration: none;}
.nav-menus-php .fusion-builder-modal-settings-container .ui-button .ui-button-text, .widgets-php .fusion-builder-modal-settings-container .ui-button .ui-button-text {display: block;padding: 0;line-height: 1.4;}
.nav-menus-php .fusion-builder-modal-settings-container .ui-buttonset .ui-state-active, .widgets-php .fusion-builder-modal-settings-container .ui-buttonset .ui-state-active {background-image: none !important;box-shadow: none !important;border-color: rgba(0,0,0,.1) !important;border-color: #0064cd #0064cd #003f81;background-color: #00a0d2 !important;color: #fff;text-shadow: 0 -1px 0 rgba(0,0,0,.25);}
.nav-menus-php .fusion-builder-main-settings-full, .widgets-php .fusion-builder-main-settings-full {margin-top: 5.4em;}
.nav-menus-php .fusion-builder-modal-top-container, .widgets-php .fusion-builder-modal-top-container {position: absolute;top: 0;left: 0;width: 100%;z-index: 999999;}
.nav-menus-php .fusion-builder-modal-top-container .fusion-builder-modal-close, .widgets-php .fusion-builder-modal-top-container .fusion-builder-modal-close {height: 69px;width: 69px;position: absolute;top: 0;right: 0;cursor: pointer;border-left: 1px solid #ddd;text-align: center;}
.widgets-php .fusion-builder-modal-top-container .fusion-builder-modal-close {height: 85px;}
.nav-menus-php .fusion-builder-modal-top-container .fusion-builder-modal-close.fusiona-plus2:before, .widgets-php .fusion-builder-modal-top-container .fusion-builder-modal-close.fusiona-plus2:before {font-size: 2em;margin-top: 22px;display: block;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.widgets-php .fusion-builder-modal-top-container .fusion-builder-modal-close.fusiona-plus2:before {margin-top: 29px;}
.nav-menus-php .fusion-builder-modal-top-container .fusion-builder-modal-close:hover, .widgets-php .fusion-builder-modal-top-container .fusion-builder-modal-close:hover {background: #f6f6f6;}
.nav-menus-php .fusion-builder-modal-top-container h2, .widgets-php .fusion-builder-modal-top-container h2 {padding: 1.1em 2.5%;border-bottom: 1px solid #ddd !important;margin: 0;font-size: 23px;background: #fff;line-height: inherit;text-align: left;font-weight: 600;}
.widgets-php .fusion-builder-modal-top-container h2 {padding-bottom: .75em;}
.widgets-php .fusion-builder-modal-top-container .fusion-modal-description {margin-top: 10px;color: #999;font-size: 14px;font-style: italic;font-weight: 400;}
.nav-menus-php .fusion-builder-modal-bottom-container, .widgets-php .fusion-builder-modal-bottom-container {position: absolute;bottom: 0;left: 0;width: 100%;border-top: 1px solid #ccc;padding: 1em;background: #fff;z-index: 9999;box-sizing: border-box;text-align: right;}
.nav-menus-php .fusion-builder-modal-bottom-container .fusion-builder-modal-close, .nav-menus-php .fusion-builder-modal-bottom-container .fusion-builder-modal-save, .widgets-php .fusion-builder-modal-bottom-container .fusion-builder-modal-close, .widgets-php .fusion-builder-modal-bottom-container .fusion-builder-modal-save {background: #008fc5;color: #fff;border: none;text-transform: uppercase;font-size: 14px;font-weight: bold;padding: 12px 28px;height: auto;display: inline-block;text-decoration: none;box-shadow: none;}
.nav-menus-php .fusion-builder-modal-bottom-container .fusion-builder-modal-close:hover, .nav-menus-php .fusion-builder-modal-bottom-container .fusion-builder-modal-save:hover, .widgets-php .fusion-builder-modal-bottom-container .fusion-builder-modal-close:hover, .widgets-php .fusion-builder-modal-bottom-container .fusion-builder-modal-save:hover {background: #222;color: #fff;}
.nav-menus-php .fusion-builder-main-settings, .widgets-php .fusion-builder-main-settings {overflow: auto;position: absolute;width: 100%;top: 0;left: 0;bottom: 2em;box-sizing: border-box;padding: 1.5em 0 0;background-color: #fff;margin-top: 4.5em;margin-bottom: 3em;}
.nav-menus-php.fusion_builder_no_scroll, .widgets-php.fusion_builder_no_scroll {overflow: hidden;}
.nav-menus-php .fusion_builder_modal_inner_row_overlay, .nav-menus-php .fusion_builder_modal_overlay, .widgets-php .fusion_builder_modal_inner_row_overlay, .widgets-php .fusion_builder_modal_overlay {width: 100%;height: 100%;position: fixed;z-index: 9999;background-color: rgba(0,0,0,.8);top: 0;left: 0;}
.nav-menus-php .fusion-builder-module-settings, .widgets-php .fusion-builder-module-settings {margin: 0;float: left;width: 100%;background: #fff;}
.nav-menus-php .fusion-builder-module-settings > li:last-child, .widgets-php .fusion-builder-module-settings > li:last-child {border-bottom: none;}
.nav-menus-php .fusion-builder-module-settings .fusion-builder-option, .nav-menus-php .fusion-builder-module-settings li, .widgets-php .fusion-builder-module-settings li {border-bottom: 1px solid #ddd;float: left;width: 95%;padding: 2em 2.5%;margin: 0;}
.nav-menus-php .option-details, .widgets-php .option-details {width: 40%;float: left;display: inline-block;}
.nav-menus-php .option-details h3, .widgets-php .option-details h3 {margin-bottom: .3em;}
.widgets-php .option-details p {padding-right: 0 !important;padding-left: 0 !important;}
.nav-menus-php .option-details .description, .widgets-php .option-details .description {color: #999;margin-bottom: 1em;font-size: 14px;}
.nav-menus-php .option-field, .widgets-php .option-field {width: 50%;float: left;display: inline-block;padding: 1.1em 0 0;margin-left: 10%;}
.nav-menus-php .nav-menus-php .option-field select, .widgets-php .option-field select {width: auto !important;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.nav-menus-php .fusion-icon-search, .widgets-php .fusion-icon-search {margin-bottom: 15px;}
.nav-menus-php .option-field input[type="text"], .nav-menus-php .option-field textarea:not(.wp-editor-area), .nav-menus-php .option-field textarea:not(.wp-editor-area), .widgets-php .option-field input[type="text"] {width: 100%;line-height: 1.75em;padding-left: .75em;padding-right: .75em;box-shadow: none;background: #f4f2f2 !important;border: 1px solid rgba(0,0,0,.05);min-height: 34px;}
.nav-menus-php .option-field input[type="text"].fusion-slider-input, .widgets-php .option-field input[type="text"].fusion-slider-input {width: 100px;}
.nav-menus-php .fusion-builder-modal-settings-container .ui-button, .widgets-php .fusion-builder-modal-settings-container .ui-button {border-radius: 0;height: auto;cursor: pointer;display: block;float: left;margin-right: -1px;z-index: 1;border: 1px solid red;border: 1px solid #ccc;vertical-align: middle;background: #f5f5f5;padding: 7px 14px 8px;text-shadow: 0 1px 1px rgba(255,255,255,.75);color: #333;font-size: 13px;line-height: normal;border-bottom-color: #bbb;box-shadow: none !important;transition: .1s linear background-image;transition: all 200ms ease-in-out;overflow: visible;text-decoration: none;}
.nav-menus-php .fusion-builder-modal-settings-container .ui-button .ui-button-text, .widgets-php .fusion-builder-modal-settings-container .ui-button .ui-button-text {display: block;padding: 0;line-height: 1.4;}
.nav-menus-php .fusion-builder-modal-settings-container .ui-buttonset .ui-state-active, .widgets-php .fusion-builder-modal-settings-container .ui-buttonset .ui-state-active {background-image: none !important;box-shadow: none !important;border-color: rgba(0,0,0,.1) !important;border-color: #0064cd #0064cd #003f81;background-color: #00a0d2 !important;color: #fff;text-shadow: 0 -1px 0 rgba(0,0,0,.25);}
.nav-menus-php .fusion-builder-modal-settings-container .ui-buttonset .ui-state-active[data-value="disabled"], .nav-menus-php .fusion-builder-modal-settings-container .ui-buttonset .ui-state-active[data-value="false"], .nav-menus-php .fusion-builder-modal-settings-container .ui-buttonset .ui-state-active[data-value="no"], .nav-menus-php .fusion-builder-modal-settings-container .ui-buttonset .ui-state-active[data-value="off"], .widgets-php .fusion-builder-modal-settings-container .ui-buttonset .ui-state-active[data-value="disabled"], .widgets-php .fusion-builder-modal-settings-container .ui-buttonset .ui-state-active[data-value="false"], .widgets-php .fusion-builder-modal-settings-container .ui-buttonset .ui-state-active[data-value="no"], .widgets-php .fusion-builder-modal-settings-container .ui-buttonset .ui-state-active[data-value="off"] {background-color: #23282d !important;border-color: #767676 !important;color: #eee;}
.nav-menus-php .fusion-builder-upload-preview, .widgets-php .fusion-builder-upload-preview {width: 100%;height: auto;overflow: hidden;}
.nav-menus-php .fusion-builder-upload-preview img, .widgets-php .fusion-builder-upload-preview img {width: auto;height: auto;max-width: 100%;max-height: 300px;display: block;float: right;}
.nav-menus-php .upload-image-remove, .widgets-php .upload-image-remove {height: 36px;margin: 0;font-size: 13px;color: #333;background: #fff;border: 1px solid #c7c5c5;text-align: center;text-decoration: none;border-radius: 0;cursor: pointer;line-height: 28px;padding: 0 10px;}
.nav-menus-php .upload-image-remove:hover, .widgets-php .upload-image-remove:hover {background: #fbf9f9;}
.nav-menus-php .fusion-builder-upload-button, .widgets-php .fusion-builder-upload-button {margin-top: 1em !important;float: right;height: 36px;margin: 0;font-size: 13px;color: #333;background: #fff;border: 1px solid #c7c5c5;text-align: center;text-decoration: none;border-radius: 0;cursor: pointer;line-height: 28px;padding: 0 10px;}
.nav-menus-php .fusion-builder-upload-button:hover, .widgets-php .fusion-builder-upload-button:hover {background: #fbf9f9;}
.nav-menus-php .upload-image-remove, .widgets-php .upload-image-remove {margin: 1em 1em 0 0 !important;float: right;}
.nav-menus-php .avada-edit-button, .nav-menus-php .avada-edit-button, .nav-menus-php .avada-remove-button, .widgets-php .avada-remove-button {display: none !important;}
.nav-menus-php .fusion-image-set .avada-upload-button, .widgets-php .fusion-image-set .avada-upload-button {display: none !important;}
.nav-menus-php .fusion-image-set .avada-edit-button, .nav-menus-php .fusion-image-set .avada-edit-button, .nav-menus-php .fusion-image-set .avada-remove-button, .widgets-php .fusion-image-set .avada-remove-button {display: block !important;}
.nav-menus-php .fusion-builder-modal-container, .widgets-php .fusion-builder-modal-container {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;}
.nav-menus-php .fusion-builder-modal-container input, .nav-menus-php .fusion-builder-modal-container input, .nav-menus-php .fusion-builder-modal-container select, .nav-menus-php .fusion-builder-modal-container select .nav-menus-php .fusion-builder-modal-container textarea, .widgets-php .fusion-builder-modal-container textarea {font-size: 14px;}
.nav-menus-php .fusion-builder-main-settings h2, .nav-menus-php .fusion-builder-main-settings h3, .nav-menus-php .fusion-builder-main-settings h3, .widgets-php .fusion-builder-main-settings h2 {color: #23282d;font-size: 1.3em;margin: 1em 0;}
.nav-menus-php .fusion-builder-main-settings h1, .nav-menus-php .fusion-builder-main-settings h2, .nav-menus-php .fusion-builder-main-settings h2, .nav-menus-php .fusion-builder-main-settings h3, .nav-menus-php .fusion-builder-main-settings h3, .nav-menus-php .fusion-builder-main-settings h4, .nav-menus-php .fusion-builder-main-settings h4, .nav-menus-php .fusion-builder-main-settings h5, .nav-menus-php .fusion-builder-main-settings h5, .nav-menus-php .fusion-builder-main-settings h6, .nav-menus-php .fusion-builder-main-settings h6, .widgets-php .fusion-builder-main-settings h1 {display: block;font-weight: 600;}
.nav-menus-php .fusion-builder-modal-container input, .nav-menus-php .fusion-builder-modal-container input, .nav-menus-php .fusion-builder-modal-container select, .nav-menus-php .fusion-builder-modal-container select, .nav-menus-php .fusion-builder-modal-container textarea, .widgets-php .fusion-builder-modal-container textarea {font-size: 14px;}
.nav-menus-php .fusion-menu-options-container {float: left;width: 100%;margin: 10px 0;}
.widgets-php .fusion-menu-options-container {width: 100%;margin: 10px 0 20px;}
.widgets-php .fusion-options-holder.fusion-widget-no-border .fusion-builder-option.fusion-widget-fusion_border_style, .widgets-php .fusion-options-holder.fusion-widget-no-border .fusion-builder-option.fusion-widget-fusion_border_color {display: none;}
.widget input {border-color: #dfdfdf !important;}
.spinner.fusion-spinner.is-active {display: inline-block;float: none;margin: 8px 0 0 10px;}
body #adminmenu li.toplevel_page_avada.wp-not-current-submenu:hover:after {z-index: 100;}
body ul#adminmenu li.toplevel_page_avada a.wp-has-current-submenu:after, ul#adminmenu > li.toplevel_page_avada.current > a.current:after {z-index: 200;}
.manage-column.column-tf_thumbnail {width: 40px;text-align: center;}
.wp-list-table .tf_thumbnail a {width: 40px;height: auto;}
.wp-list-table .tf_thumbnail a img {width: 100%;max-width: 40px;max-height: 40px;height: auto;}
@media (max-width: 782px) {.wp-list-table #tf_thumbnail {display: none;}}
.post-php .ui-widget-overlay {position: fixed;top: 0;left: 0;right: 0;bottom: 0;min-height: 360px;background: #000;opacity: .7;filter: alpha(opacity=70);z-index: 100101;}
.avada-po-dialog {z-index: 100001;padding: 0 !important;background-color: #fff;border: 1px solid #e5e5e5 !important;border-radius: 0 !important;font-size: 1em !important;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;}
.avada-po-dialog .ui-dialog-titlebar {position: relative !important;padding: 0 !important;background-image: none !important;background-color: #fff !important;color: #000 !important;border: none !important;border-bottom: 1px solid #ebebeb !important;font-size: 1.2em !important;line-height: 1.4em !important;font-weight: normal !important;height: auto !important;border-radius: 0 !important;}
.avada-po-dialog .ui-dialog-title {display: inline-block !important;margin: 0 !important;padding: 12px 15px !important;float: none !important;border-radius: 0 !important;width: auto !important;overflow: visible !important;text-transform: uppercase;}
.avada-po-dialog .ui-dialog-titlebar-close {position: absolute !important;top: 50% !important;-webkit-transform: translateY(-50%) !important;-ms-transform: translateY(-50%) !important;transform: translateY(-50%) !important;right: 0 !important;margin: 0 !important;height: 100% !important;width: 45px !important;padding: 0 !important;border: none !important;background: transparent !important;color: #c5c5c5 !important;cursor: pointer !important;outline: none !important;border-radius: 0 !important;}
.avada-po-dialog .ui-dialog-titlebar-close:before {font-size: 18px !important;width: 45px !important;line-height: 45px !important;height: 45px !important;content: "" !important;font-family: dashicons !important;}
.avada-po-dialog .ui-dialog-titlebar-close:after {content: "" !important;}
.avada-po-dialog .ui-dialog-titlebar-close span {display: none !important;margin: 0 !important;border-radius: 0 !important;}
.avada-po-dialog .ui-dialog-titlebar-close .ui-button-text {display: none !important;border-radius: 0 !important;}
.avada-po-dialog .ui-dialog-content {padding: 15px 15px 20px !important;border-radius: 0 !important;}
.avada-po-dialog .ui-dialog-content a {color: #0073aa !important;}
.avada-po-dialog .ui-dialog-content a:active, .avada-po-dialog .ui-dialog-content a:focus, .avada-po-dialog .ui-dialog-content a:hover {color: #00a0d2 !important;}
.avada-po-dialog .ui-dialog-content a:focus {box-shadow: none !important;}
.avada-po-dialog .ui-dialog-buttonpane {margin: 5px 0 0 !important;padding: 0 15px 13px !important;border: none !important;border-radius: 0 !important;background: transparent !important;border-top: 1px solid #ebebeb !important;}
.avada-po-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {float: none !important;text-align: right !important;border-radius: 0 !important;padding: 20px 0 5px !important;}
.avada-po-dialog .ui-dialog-buttonpane button {margin: 0 10px 0 0 !important;padding: 5px 15px !important;background-image: none !important;background-color: #0085ba !important;color: #fff !important;font-weight: bold !important;font-size: 14px !important;border: none !important;border-radius: 3px !important;box-shadow: none !important;outline: 0;line-height: 1 !important;}
.avada-po-dialog .ui-dialog-buttonpane button:hover {background-color: #008ec2 !important;color: #fff !important;cursor: pointer;}
.avada-po-dialog .ui-dialog-buttonpane button .ui-button-text {line-height: 1 !important;display: inline !important;}
#fusion-page-options-save {width: 140px;float: left;margin-left: 10px;margin-top: 3px;}
#fusion-new-page-options-name {max-width: calc(100% - 150px);float: left;}
#fusion-page-options-buttons-wrap {display: none;}
#fusion-page-options-loader {position: absolute;top: 10px;}
.fusion-options-changed #fusion-page-options-loader {top: 45px;}
.avada-po-warning {margin: -30px 0 20px -30px;border-bottom: 1px solid #e7e7e7;background-color: #fcf8e3;color: #c09853;padding: 8px 35px 8px 14px;text-shadow: 0 1px 0 rgba(255,255,255,.5);width: calc(100% + 11px);display: none;}
.avada-tax-meta-field .wp-picker-container, .pyre_field .wp-picker-container {width: 317px;}
.avada-tax-meta-field .wp-picker-container.wp-picker-active, .pyre_field .wp-picker-container.wp-picker-active {display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;}
.avada-tax-meta-field .wp-picker-container.wp-picker-active .wp-picker-input-wrap, .pyre_field .wp-picker-container.wp-picker-active .wp-picker-input-wrap {display: -webkit-inline-flex;display: -ms-inline-flexbox;display: inline-flex;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;width: 200px;}
.avada-tax-meta-field .wp-picker-container.wp-picker-active .wp-picker-input-wrap label, .pyre_field .wp-picker-container.wp-picker-active .wp-picker-input-wrap label {width: 100%;padding-right: 3px;margin-top: 0;}
.avada-tax-meta-field .wp-picker-container.wp-picker-active .wp-picker-input-wrap input[type="text"], .pyre_field .wp-picker-container.wp-picker-active .wp-picker-input-wrap input[type="text"] {margin-right: 5px;width: 100% !important;}
.avada-tax-meta-field .wp-picker-container .wp-picker-holder, .pyre_field .wp-picker-container .wp-picker-holder {width: 100%;}
.avada-tax-meta-field .wp-picker-container .iris-picker, .pyre_field .wp-picker-container .iris-picker {width: 100% !important;}
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-palette, .pyre_field .wp-picker-container .iris-picker .iris-palette, .avada-tax-meta-field .wp-picker-container .iris-picker .iris-slider, .pyre_field .wp-picker-container .iris-picker .iris-slider, .avada-tax-meta-field .wp-picker-container .iris-picker .iris-square, .pyre_field .wp-picker-container .iris-picker .iris-square, .avada-tax-meta-field .wp-picker-container .iris-picker .iris-square-inner, .pyre_field .wp-picker-container .iris-picker .iris-square-inner {box-shadow: none;}
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-palette, .pyre_field .wp-picker-container .iris-picker .iris-palette, .avada-tax-meta-field .wp-picker-container .iris-picker .iris-slider, .pyre_field .wp-picker-container .iris-picker .iris-slider, .avada-tax-meta-field .wp-picker-container .iris-picker .iris-square, .pyre_field .wp-picker-container .iris-picker .iris-square {border: 1px solid #ddd;}
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-square-inner, .pyre_field .wp-picker-container .iris-picker .iris-square-inner {border-radius: 0;}
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-picker-inner, .pyre_field .wp-picker-container .iris-picker .iris-picker-inner {display: -webkit-flex;display: -ms-flexbox;display: flex;}
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-picker-inner .iris-slider, .pyre_field .wp-picker-container .iris-picker .iris-picker-inner .iris-slider {width: 25px !important;margin-left: 15px !important;height: 100% !important;border-radius: 0;}
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-picker-inner .iris-slider .ui-slider-handle, .pyre_field .wp-picker-container .iris-picker .iris-picker-inner .iris-slider .ui-slider-handle {margin-bottom: 0;right: -3px;left: -3px;border-radius: 0;}
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-picker-inner .iris-square, .pyre_field .wp-picker-container .iris-picker .iris-picker-inner .iris-square {width: calc(100% - 45px) !important;margin-right: 0;border-radius: 0;}
.avada-tax-meta-field .wp-picker-container .iris-picker.iris-border, .pyre_field .wp-picker-container .iris-picker.iris-border {padding-bottom: 30px !important;}
.avada-tax-meta-field .wp-picker-container .iris-palette-container, .pyre_field .wp-picker-container .iris-palette-container {display: -webkit-flex;display: -ms-flexbox;display: flex;width: calc(100% - 45px) !important;}
.avada-tax-meta-field .wp-picker-container .iris-palette-container > .iris-palette, .pyre_field .wp-picker-container .iris-palette-container > .iris-palette {border: 1px solid #e7e7e7;margin-left: 2px !important;margin-right: 0 !important;width: 19px !important;height: 19px !important;border-radius: 0;box-shadow: none;}
.avada-tax-meta-field .wp-picker-container .iris-palette-container > .iris-palette:first-child, .pyre_field .wp-picker-container .iris-palette-container > .iris-palette:first-child {margin-left: 0 !important;}
.avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container, .pyre_field .wp-picker-container.wp-picker-alpha-container {width: 365px;}
.avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .iris-picker .iris-square, .pyre_field .wp-picker-container.wp-picker-alpha-container .iris-picker .iris-square {width: calc(100% - 85px) !important;margin-right: 15px;}
.avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .iris-palette-container > .iris-palette, .pyre_field .wp-picker-container.wp-picker-alpha-container .iris-palette-container > .iris-palette {width: 20px !important;height: 20px !important;}
.avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .iris-palette-container > .iris-palette:first-child, .pyre_field .wp-picker-container.wp-picker-alpha-container .iris-palette-container > .iris-palette:first-child {margin-left: 0 !important;}
.avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap, .pyre_field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap {width: calc(100% - 120px);}
.avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap label input[type="text"], .pyre_field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap label input[type="text"] {width: 100% !important;}
.avada-tax-meta-field .wp-color-result, .pyre_field .wp-color-result {border-radius: 0;box-shadow: none;}
.avada-tax-meta-field .button.wp-color-result, .pyre_field .button.wp-color-result {height: 31px;border-radius: 0;box-shadow: none;}
.avada-tax-meta-field .wp-color-result-text, .pyre_field .wp-color-result-text {height: 100%;line-height: 30px;}
.avada-tax-meta-field .wp-picker-container input[type="text"], .pyre_field .wp-picker-container input[type="text"] {height: 31px;min-height: 31px;}
.avada-tax-meta-field .wp-picker-container input[type="button"], .pyre_field .wp-picker-container input[type="button"] {height: 31px;border-radius: 0;box-shadow: none;}
.avada-tax-meta-field .wp-picker-container .iris-picker.iris-border {padding-bottom: 40px !important;}
.fusion-sortable-option {margin-bottom: 10px;padding: 0 7px;background-color: #f4f2f2;border: 1px solid rgba(0,0,0,.05);height: 34px;line-height: 34px;box-sizing: border-box;text-align: center;cursor: move;}
.fusion-sortable-option:last-child {margin-bottom: 0;}
.rtl #pyre_page_options .wp-picker-container {-webkit-justify-content: baseline;-ms-flex-pack: baseline;justify-content: baseline;}
.rtl #pyre_page_options .wp-picker-container .wp-color-result {margin-left: 0;padding-right: 30px;}
.rtl #pyre_page_options .wp-picker-container .wp-picker-input-wrap {width: calc(100% - 103px);}
.rtl #pyre_page_options .wp-picker-container .wp-picker-input-wrap .wp-picker-clear {margin: 0;}
.rtl #pyre_page_options .wp-picker-container .wp-picker-input-wrap .color-picker {margin: 0;}
.rtl #pyre_page_options .wp-picker-container .wp-picker-input-wrap label {padding: 0 8px;}
.rtl #pyre_page_options .wp-picker-container .wp-picker-holder .iris-strip {margin-left: 0 !important;margin-right: 15px !important;}
.rtl #pyre_page_options .wp-picker-container .wp-picker-holder .iris-palette-container .iris-palette {margin-left: 2px !important;}
.rtl #pyre_page_options .wp-picker-container .wp-picker-holder .iris-picker {width: calc(100% - 4px) !important;}
.rtl .avada-tax-meta-field .wp-picker-container {-webkit-justify-content: baseline;-ms-flex-pack: baseline;justify-content: baseline;}
.rtl .avada-tax-meta-field .wp-picker-container .wp-color-result {margin: 0;}
.rtl .avada-tax-meta-field .wp-picker-container .wp-picker-input-wrap {width: calc(100% - 108px) !important;}
.rtl .avada-tax-meta-field .wp-picker-container .wp-picker-input-wrap .wp-picker-clear {margin: 0;}
.rtl .avada-tax-meta-field .wp-picker-container .wp-picker-input-wrap label {padding: 0 8px;}
.rtl .avada-tax-meta-field .wp-picker-container .wp-picker-input-wrap label .wp-color-picker {margin: 0;}
.rtl .avada-tax-meta-field .wp-picker-container .wp-picker-holder .iris-picker {width: calc(100% - 2px) !important;}
.rtl .avada-tax-meta-field .wp-picker-container .wp-picker-holder .iris-picker .iris-strip {margin-left: 0 !important;margin-right: 15px !important;}
.rtl .avada-tax-meta-field .wp-picker-container .wp-picker-holder .iris-picker .iris-palette-container {left: auto;right: 10px;}
.rtl .avada-tax-meta-field .wp-picker-container .wp-picker-holder .iris-picker .iris-palette-container .iris-palette {margin-left: 4px !important;}
.rtl .avada-tax-meta-table .avada-tax-meta-field td {padding-right: 25px;padding-left: 0px;}
.rtl #wpwrap .fusionredux-container #fusionredux-form-wrapper .form-table .fusion_options .wp-picker-container {-webkit-justify-content: baseline;-ms-flex-pack: baseline;justify-content: baseline;}
.rtl #wpwrap .fusionredux-container #fusionredux-form-wrapper .form-table .fusion_options .wp-picker-container .wp-picker-input-wrap {width: calc(100% - 103px);}
.rtl #wpwrap .fusionredux-container #fusionredux-form-wrapper .form-table .fusion_options .wp-picker-container .wp-picker-input-wrap label {padding: 0 8px;}
.rtl #wpwrap .fusionredux-container #fusionredux-form-wrapper .form-table .fusion_options .wp-picker-container .wp-picker-input-wrap label .color-picker {margin: 0;}
.rtl #wpwrap .fusionredux-container #fusionredux-form-wrapper .form-table .fusion_options .wp-picker-container .wp-picker-input-wrap .wp-picker-default {margin: 0;}
.rtl #wpwrap .fusionredux-container #fusionredux-form-wrapper .form-table .fusion_options .wp-picker-container .wp-picker-holder .iris-picker {width: calc(100% - 3px) !important;}
.rtl #wpwrap .fusionredux-container #fusionredux-form-wrapper .form-table .fusion_options .wp-picker-container .wp-picker-holder .iris-picker .iris-slider {margin-left: 0 !important;margin-right: 15px !important;}
.rtl #wpwrap .fusionredux-container #fusionredux-form-wrapper .form-table .fusion_options .wp-picker-container .wp-picker-holder .iris-palette-container {left: auto;right: 10px;}
.rtl #wpwrap .fusionredux-container #fusionredux-form-wrapper .form-table .fusion_options .wp-picker-container .wp-picker-holder .iris-palette-container .iris-palette {margin-left: 1.7px !important;}
.fusion-colorpicker-legacy .avada-tax-meta-field .wp-color-result, .fusion-colorpicker-legacy .pyre_field .wp-color-result {height: 32px;}
.fusion-colorpicker-legacy .avada-tax-meta-field .wp-color-result:after, .fusion-colorpicker-legacy .pyre_field .wp-color-result:after {height: 100%;line-height: 32px;font-size: 12px;padding: 0 10px;}
.fusion-colorpicker-legacy .avada-tax-meta-field .wp-picker-container.wp-picker-active .wp-picker-input-wrap, .fusion-colorpicker-legacy .pyre_field .wp-picker-container.wp-picker-active .wp-picker-input-wrap {width: 190px;}
.fusion-colorpicker-legacy .avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap, .fusion-colorpicker-legacy .pyre_field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap {width: 240px;max-width: calc(100% - 140px);}
.fusion-colorpicker-legacy .avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap input[type="text"], .fusion-colorpicker-legacy .pyre_field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap input[type="text"] {max-height: 31px;}
.fusion-colorpicker-legacy .avada-tax-meta-field .wp-picker-container .wp-picker-input-wrap {width: 190px;}
.fusion-colorpicker-legacy .avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap {width: 215px;}
.fusion-colorpicker-legacy .avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap input[type="text"] {max-height: 34px;}
.fusion-colorpicker-legacy .avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .iris-palette-container > .iris-palette {width: 22px !important;height: 22px !important;}
.fusion-colorpicker-legacy .pyre_field .wp-picker-container.wp-picker-active .wp-picker-input-wrap {max-width: calc(100% - 140px);}
.fusion-colorpicker-legacy .pyre_field .wp-picker-container.wp-picker-active input[type="text"] {height: 32px;max-height: 32px;}
.fusion-colorpicker-legacy .pyre_field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap input[type="text"] {height: 32px;max-height: 32px;}
.fusion-colorpicker-legacy .pyre_page_options .pyre_field .wp-picker-container.wp-picker-active .wp-picker-input-wrap {width: 190px;}
.pyre_field .wp-picker-container {max-width: calc(100% - 2px);}
.pyre_field .wp-picker-container .iris-palette-container > .iris-palette {max-width: calc(( 100% - 60px ) / 11) !important;}
.pyre_field .wp-picker-container.wp-picker-alpha-container .iris-palette-container > .iris-palette {max-width: calc(( 100% - 100px ) / 11) !important;}
.nav-menus-php #menu-management .item-edit {overflow: hidden;}
div#fusion-privacy-notice.fusion-notice {display: block !important;}
.avada-wrap div#fusion-privacy-notice.fusion-notice {margin-top: 15px;max-width: calc(100% - 250px);}
div#fusion-privacy-notice td {padding: 2px 15px 2px 0;font-size: 13px;}
.rtl div#fusion-privacy-notice td {padding: 2px 0 2px 15px;}